[
  {
    "caseUrl": "test/datepicker/datepicker.ex1.case.js",
    "pageUrl": "datepicker/avalon.datepicker.ex1.html",
    "group": "datepicker"
  },
  {
    "caseUrl": "test/dialog/dialog.ex.case.js",
    "pageUrl": "dialog/avalon.dialog.ex.html",
    "group": "dialog"
  },
  {
    "caseUrl": "test/textbox/textbox.ex1.case.js",
    "pageUrl": "textbox/avalon.textbox.ex1.html",
    "group": "textbox"
  },
  {
    "caseUrl": "test/textbox/textbox.ex2.case.js",
    "pageUrl": "textbox/avalon.textbox.ex2.html",
    "group": "textbox"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex1.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex1.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex2.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex2.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex3.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex3.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex4.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex4.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex5.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex5.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex6.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex6.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex7.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex7.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex8.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex8.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex9.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex9.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex10.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex10.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex11.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex11.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex12.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex12.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex13.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex13.html",
    "group": "dropdown"
  },
  {
    "caseUrl": "test/dropdown/dropdown.ex14.case.js",
    "pageUrl": "dropdown/avalon.dropdown.ex14.html",
    "group": "dropdown"
  }
]