@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-accordion { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; vertical-align: middle; width: 100%; font-family: 1.1em; font-size: 1em; }
.ui-accordion .ui-corner-all { border-radius: 4px; }
.ui-accordion .ui-corner-top { border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.ui-accordion .ui-corner-bottom { border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 0; }
.ui-accordion.ui-accordion-mode-nav { margin-top: -1px; }
.ui-accordion.ui-accordion-mode-nav .ui-accordion-inner { border-top: 0 none; }
.ui-accordion.ui-accordion-mode-nav .ui-accordion-inner .ui-accordion-header { padding: 7px 10px; }
.ui-accordion.ui-accordion-mode-caret .ui-accordion-inner { border: 0 none; }
.ui-accordion .ui-accordion-header { display: block; min-height: 0; position: relative; margin: 2px 0 0 0; padding: .5em .5em .5em .7em; cursor: pointer; font-size: 100%; }
.ui-accordion .ui-accordion-header.ui-state-default { border: 1px solid #d3d3d3; background-color: #e6e6e6; font-weight: normal; color: #555; }
.ui-accordion .ui-accordion-header .ui-icon-caret-right { display: inline; }
.ui-accordion .ui-accordion-header .ui-icon-caret-down { display: none; }
.ui-accordion .ui-accordion-header.ui-state-hover { border: 1px solid #999999; background: #dadada; font-weight: normal; color: #212121; }
.ui-accordion .ui-accordion-header.ui-state-active { background: #fff; border: 1px solid #aaa; color: #212121; }
.ui-accordion .ui-accordion-header.ui-state-active .ui-icon-caret-down { display: inline; }
.ui-accordion .ui-accordion-header.ui-state-active .ui-icon-caret-right { display: none; }
.ui-accordion .ui-accordion-icons { padding-left: 2.2em; }
.ui-accordion .ui-accordion-icons .ui-accordion-icons { padding-left: 2.2em; }
.ui-accordion .ui-accordion-icon-wrap { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; width: 14px; vertical-align: middle; text-align: right; cursor: pointer; }
.ui-accordion .ui-accordion-icon-wrap .ui-icon { cursor: pointer; }
.ui-accordion .ui-accordion-content { border-top: 0; padding: 1em 2.2em; overflow: auto; font-size: 12px; }
.ui-accordion .ui-accordion-content.ui-state-default { border: 1px solid #aaa; background: #fff; color: #000; }
.ui-accordion .ui-accordion-content.ui-state-active { background: #fff; border: 1px solid #aaa; }
.ui-accordion .ui-accordion-content.ui-state-hover { border: 1px solid #999999; background: #dadada; font-weight: normal; color: #212121; }
.ui-accordion .ui-accordion-content .ui-accordion-content { border: 1px solid #aaa; background: #fff; color: #333; }
