@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "ui-accordion";
$corner-radius: 4px;

.ui-widget {
    font-family: $oniui-font-size * 1.1;
    font-size: $oniui-font-size;
    .ui-widget, input, select, texteara, button {
        font-size: $oniui-font-family;
    }
}


.ui-widget-content {
    border: 1px solid $ui-widget-content-border-color;
    background-color: $ui-widget-content-background-color;
    color: $ui-widget-content-color;
    a {
        color:$ui-widget-content-color;
    }
}
.ui-widget-header {
    border: 1px solid $ui-widget-header-color;
    background-color: $ui-widget-header-background-color;
    color: $ui-widget-header-color;
    font-weight: bold;
    a {
        color: $ui-widget-header-color;
    }
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    
}
.ui-state-active, .ui-widget-header.ui-state-active, .ui-widget-content.ui-state-active {
    @if($oinui-theme == smoothness) {
        background: #fff;
        border: 1px solid #aaa;
    }
}
.ui-state-hover, .ui-widget-header.ui-state-hover, .ui-widget-content.ui-state-hover {
    @if($oinui-theme == smoothness) {
        border: 1px solid #999999;
        background: #dadada;
        font-weight: normal;
        color: #212121;
    }
}
.#{$uiname} {
    @include inline-block();
    vertical-align: middle;
    width: 100%;
    font-family: $oniui-font-size * 1.1;
    font-size: $oniui-font-size;
    .ui-corner-all {
        border-radius: $corner-radius;
    }
    .ui-corner-top {
        border-top-left-radius: $corner-radius;
        border-top-right-radius: $corner-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .ui-corner-bottom {
        border-bottom-right-radius: $corner-radius;
        border-bottom-left-radius: $corner-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &.#{$uiname}-mode-nav {
        margin-top: -1px;
        .#{$uiname}-inner {
            border-top: 0 none;
            .#{$uiname}-header {
                padding: 7px 10px;
            }
        }
    }
    &.#{$uiname}-mode-caret {
        .#{$uiname}-inner {
            border: 0 none;
        }
    }
    .#{$uiname}-header {
        display: block;
        min-height: 0;
        position: relative;
        margin: 2px 0 0 0;
        padding: .5em .5em .5em .7em;
        cursor: pointer;
        font-size: 100%;
        &.ui-state-default {
            border: 1px solid $ui-state-default-border-color;
            background-color: $ui-state-default-background-color;
            font-weight: normal;
            color: $ui-state-default-color;
        }
        .ui-icon-caret-right {
            display: inline;
        }
        &.ui-state-active {
            @if($oinui-theme == smoothness) {
                background: #fff;
                border: 1px solid #aaa;
            }
            .ui-icon-caret-down {
                display: inline;
            }
            .ui-icon-caret-right {
                display: none;
            }
        }
        .ui-icon-caret-down {
            display: none;
        }
        &.ui-state-hover {
            @if($oinui-theme == smoothness) {
                border: 1px solid #999999;
                background: #dadada;
                font-weight: normal;
                color: #212121;
            }
        }

    }
    .#{$uiname}-icons {
        padding-left: 2.2em;
        .#{$uiname}-icons {
            padding-left: 2.2em;
        }
    }
    .#{$uiname}-icon-wrap {
        @include inline-block();
        width: 14px;
        vertical-align: middle;
        text-align: right;
        cursor: pointer;
        .ui-icon {
            cursor: pointer;
        }
    }
    .#{$uiname}-content {
        border-top: 0;
        padding: 1em 2.2em;
        overflow: auto;
        font-size: 12px;
        &.ui-state-default {
            @if($oinui-theme == smoothness) {
                border: 1px solid #aaa;
                background: #fff;
                color: #000;
            }
        }
        &.ui-state-active {
            @if($oinui-theme == smoothness) {
                background: #fff;
                border: 1px solid #aaa;
            }
        }
        &.ui-state-hover {
            @if($oinui-theme == smoothness) {
                border: 1px solid #999999;
                background: #dadada;
                font-weight: normal;
                color: #212121;
            }
        }
        .#{$uiname}-content {
            @if($oinui-theme == smoothness) {
                border: 1px solid #aaa;
                background: #fff;
                color: $ui-widget-content-color;
            } 
        }
    }
}
