h1 {
		padding-top: 30px;
}
p {
	width: 800px;
	text-indent: 2em;
	margin: 0px;
}
p.end {
	margin-bottom: 10px;
}
.oni-fileuploader-wrapper {
	width:800px;
}
body {
	padding: 20px 100px;
}