body {
    font: 14px/1.5 "微软雅黑","OpenSansRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 0 100px;
    text-align: center;
}
h1 {
    text-align: center;
}
//doc table的样式
.table-doc{  
    margin: 0 auto;  
    border: 1px solid #cad9ea;  
    border-collapse: collapse;
    color: #666; 
    font-size: 14px;
}  
.table-doc th {  
    background: url(th_bg1.gif);  
    background-repeat: repeat-x;
    height: 30px;  
}  
.table-doc td,.table-doc th{  
    border: 1px solid #cad9ea;  
    padding: 0 1em 0;  
    line-height: 26px;
}  
.table-doc tr.odd, .table-doc tr:nth-child(odd){  
    background-color: #f5fafe;  
}  
.table-doc caption {
    color: #FF0000;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
}

.pad30 {
    padding: 30px;   
}
a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
}
a:hover {
    color: blue;
}

p {
    line-height: 30px;
    font-size: 16px;
}
.demo {
    color:#f00; 
    font-weight: bold;
    font-size: 20px;
}
.wrapper {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 760px;
    text-align: left;
}
.statement {
    color: green;
    padding: 0 10px;
}
.demo-show {
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    margin: 5px 0 20px 0;
    color: #000;
}
.use-description {
    color: #8A2BE2;
}
.warn {
    color: #f00;
}
