@import "../pages/index/styles/global";

/*
* reset
*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body{
  position: relative;
  color: $color-normal;
  font-size: $font-normal;
  font-family: $font-stack;
  overflow-x: hidden;
}
ul,ol{
  list-style: none;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: $color-normal;
}
h1,h2,h3,h4,h5{
  color: $color-title;
  font-size: $font-large;
}

body{
  height: auto;
  position: relative;
  padding: 40px 60px;
  background-color: #fff;

  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-left: 1px $color-border-grey solid;
    border-right: 1px $color-border-grey solid;
  }
  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #a0b0c0;
    border-radius: 10px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 12px;
    border-color: $color-theme-blue transparent transparent $color-theme-blue;
    border-style: solid;
  }

  h1{
    margin: 0 0 10px;
  }

  h2 {
    padding: 0 0 0 10px;
    font-size: 24px;
    font-weight: normal;
  }

  p{
    position: relative;
    max-width: 100%;
    margin: 10px 0;
    padding: 30px;
    background-color: #f9fafe;
    border: 1px $color-border-grey solid;
  }

  fieldset{
    position: relative;
    max-width: 100%;
    margin: 80px 0 0;
    padding: 30px;
    background-color: #f9fafe;
    border: 1px $color-border-grey solid;

    p{
      padding: 0;
      border: 0 none;
    }

    >legend{
      position: absolute;
      top: -50px;
      left: 0;
      padding: 0 0 0 10px;
      font-size: 18px;
      border-left: 4px $color-theme-blue solid;
    }
  }

  .table-doc-title{
    margin: 40px 0 20px;
    padding: 0 0 0 10px;
    border-left: 4px $color-theme-blue solid;
    font-size: 18px;
    font-weight: normal;
  }

  .table-doc{
    width: 100%;
    margin: 0 0 30px;
    border: 1px $color-border-grey solid;
    border-collapse: collapse;
    background-color: #fff;

    th,td{
      padding: 20px;
      border: 1px $color-border-grey solid;
      word-break: break-all;
    }

    th{
      font-weight: normal;
      background-color: #2c2f34;
      color: #fff
    }

    td{
      border-width: 1px 0;
    }

    table{
      width: 100%;
      margin: 10px 0 0;
      border-collapse: collapse;
      border: 1px $color-border-grey solid;
    }
  }

  .example-links{
    display: none;
  }
}



