@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "ui-spinner";
.ui-spinner {
    font-size: 0;
    .ui-btn {
        height: 26px;
        overflow: visible;
        _overflow-y: hidden;
        padding: 0 10px;
        font-size: 0;
        @include border-radius(2px);
        @if($oinui-theme == smoothness) {
            color: #333333;
            background-color: #f8f8f8;
            border: 1px solid #cccccc;
        }
    }
    .ui-btn:hover {
        @if($oinui-theme == smoothness) {
            box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
            background-color: #f8f8f8;
            border-color: #bbbbbb;
            color: #333333;
        }
    }
    .ui-btn .ui-icon {
        line-height: 15px;
        text-indent: 0;
    }
    .ui-textbox {
        @include inline-block();
        outline: none;
        vertical-align: top;
        margin: 0 -1px;
        border: 1px solid #cccccc;
        padding: 3px 5px;
        font-size: 0;
        line-height: 18px;
        @if($oinui-theme == smoothness) {
            background-color: #ffffff;
        }
        &:hover {
            @if($oinui-theme == smoothness) {
                border-color: #999999;
            }
        }
        .ui-textbox-input-wrap {
            position: relative;
            @include inline-block();
            vertical-align: middle;
            .ui-textbox-input {
                position: relative;
                display: inline;
                float: left;
                top: 1px\9;
                _top: 0;
                outline: none;
                height: 18px;
                line-height: 18px;
                vertical-align: middle;
                font-size: 12px;
                border: 0 none;
                padding: 0;
                @if($oinui-theme == smoothness) {
                    color: #333333;
                    background-color: #ffffff;
                }
            }
        }
    }
}


