.clrfix {
  zoom: 1; }
  .clrfix:before, .clrfix:after {
    content: '';
    display: block; }
  .clrfix:after {
    clear: both; }

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 100%;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

/*corner css*/
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px; }

/*state css*/
.ui-state-default {
  color: #333;
  background-color: #f8f8f8;
  border: 1px solid #cccccc; }
  .ui-state-default a {
    color: #333;
    text-decoration: none; }

.ui-state-hover {
  background: #fff; }
  .ui-state-hover a {
    text-decoration: none; }
    .ui-state-hover a:hover {
      text-decoration: none; }

.ui-state-active {
  background: #fff; }

.ui-state-disabled {
  color: #aaa;
  cursor: default; }
  .ui-state-disabled a {
    color: #aaa;
    cursor: default; }

/*content*/
.ui-widget-content {
  background-color: #f8f8f8;
  border: 1px solid #cccccc; }

.ui-progressbar {
  width: 100%;
  position: relative;
  height: 24px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Verdana,Arial,sans-serif;
  color: #222;
  line-height: 24px; }
  .ui-progressbar-bar {
    z-index: 1;
    position: relative;
    background-color: #ccc;
    height: 100%;
    width: 0;
    float: left;
    display: inline; }
  .ui-progressbar-bar-right {
    background: #ddd; }
    .ui-progressbar-bar-right .ui-progressbar-label {
      color: blue; }
  .ui-progressbar-right {
    background-color: #333; }
  .ui-progressbar-overlay {
    width: 100%;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    height: 100%; }
  .ui-progressbar-label {
    position: absolute;
    left: 50%;
    height: 100%;
    z-index: 10;
    margin: 0 auto; }
