@import "../style/default.scss";
$pf : ".ui-progressbar";

#{$pf}{
	width: 100%;
	position: relative;
	height: 6px;
	border:none;
	background-color: #DEDEDE;
	font-family: Verdana,Arial,sans-serif;
	// means #{$pr}-bar
	&-bar{
		z-index: 1;
		position: relative;
		background-color: #619FE8;
		height: 100%;
		width: 0;
		float: left;
		display: inline;
	}
	&-bar-right {
		background: #ddd;
		#{$pf}-label {
			color : blue;
		}
	}
	&-right{
		background-color: #333;
	}
	&-overlay{
		width: 100%;
		background-color: #ddd;
		position: relative;
		z-index: 1;
		height: 100%;
	}
	&-label{
		position: absolute;
		left:50%;
		z-index: 10;
		margin: 0 auto;
		color: #fff;
	}
	&-circle{
		border:none;
		background-color: transparent;
		.ui-progressbar-label{
			font-size: 13px;
			left: 0;
			width: 100%;
			text-align: center;
			color: #619FE8;
		}
	}
	&-normal &-label{
		background-color: #6AA5E9;
		padding: 2px 4px;
		font-size: 13px;
		top: -25px;
		height: 14px;
		color: #fff;
		line-height: 14px;
		left:0;
		border-radius: 2px;
	}
	&-right &-label{
		left:50%;
	}
	&-arrow {
		border-style: solid dashed dashed;
		border-color: #6AA5E9 transparent transparent;
		border-width: 6px 5px 0;
		height: 0;
		overflow: hidden;
		line-height: 0;
		font-size: 0;
		bottom: -6px;
		left: 50%;
		position: absolute;
		margin-left: -6px;
	}
}