.clrfix {
  zoom: 1; }
  .clrfix:before, .clrfix:after {
    content: '';
    display: block; }
  .clrfix:after {
    clear: both; }

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 100%;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-progressbar {
  width: 100%;
  position: relative;
  height: 24px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Verdana,Arial,sans-serif;
  color: #222;
  line-height: 24px; }
  .ui-progressbar-bar {
    z-index: 1;
    position: relative;
    background-color: #ccc;
    height: 100%;
    width: 0;
    float: left;
    display: inline; }
  .ui-progressbar-bar-right {
    background: #ddd; }
    .ui-progressbar-bar-right .ui-progressbar-label {
      color: blue; }
  .ui-progressbar-right {
    background-color: #333; }
  .ui-progressbar-overlay {
    width: 100%;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    height: 100%; }
  .ui-progressbar-label {
    position: absolute;
    left: 50%;
    height: 100%;
    z-index: 10;
    margin: 0 auto; }
