
@import "../chameleon/oniui-theme";
$uiname: "oni-suggest";
.oni-textbox-suggest {
    position: relative;
    z-index: 1000;
}
.#{$uiname} {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    border: 1px solid #ccc;
    @if($oinui-theme == smoothness) {
        background-color: #fff;
    }
    .#{$uiname}-item {
        overflow: hidden;
        cursor: pointer;
        font-size: 12px;
        padding: 3px 5px;
        word-break: break-all;
    }
    .#{$uiname}-item-hover {
        background-color: $ui-state-hover-background-color!important;
        color: #333;
    }
    .#{$uiname}-item-selected {
        background-color: $ui-state-active-background-color;
        color: $ui-state-active-color;
    }
}
