@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "ui-dropdown";
@font-face {
    font-family: fontawesome;
    font-style: normal;
    font-weight: normal;
    src: url('http://simg4.qunarzz.com/fonts/fontawesome/4.0.3/fontawesome-webfont.eot?v=4.0.3');
    src: url('http://simg4.qunarzz.com/fonts/fontawesome/4.0.3/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('http://simg4.qunarzz.com/fonts/fontawesome/4.0.3/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('http://simg4.qunarzz.com/fonts/fontawesome/4.0.3/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('http://simg4.qunarzz.com/fonts/fontawesome/4.0.3/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
}
.#{$uiname} {
    @include inline-block();
    font-size: 12px;
    outline: none;
    .ui-icon {
        cursor: pointer;
        font-size: 12px;
        vertical-align: baseline;
    }
}

//下拉项的样式
.#{$uiname}-item {
    overflow: hidden;
    width: 100%;
    padding: 3px 0;
    @include ellipsis();
    @include user-select();
    height:24px;
    line-height: 24px;
    text-indent: 20px;
    white-space: nowrap;
    cursor: pointer;
    word-break: normal;
    word-wrap: normal;
    font-size: 12px;
    *zoom: 1;
    //分组头
    &.#{$uiname}-group {
        font-size: 14px;
        font-weight: bold;
        text-indent: 10px;
    }
    //分组头带的特殊样式,用于分隔成一块一块
    &.#{$uiname}-divider {
        @if($oinui-theme == smoothness){
            border-top: 1px solid #f2f2f2;
        }
    }

    //禁用
    &.ui-state-disabled {
        border-color:$ui-state-disabled-border-color;
        background-color:$ui-state-disabled-background-color;
        color: $ui-state-disabled-color;
    }
    //选中
    &.ui-state-active{
        border-color:$ui-state-active-border-color;
        background-color:$ui-state-active-background-color;
        color: $ui-state-active-color;
    }
    //掠过
    &.ui-state-hover {
        border-color:$ui-state-hover-border-color;
        background-color:$ui-state-hover-background-color;
        color: $ui-state-hover-color;
    }
}
.#{$uiname}-source {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.#{$uiname}-input {
    @include inline-block();
    overflow: hidden;
    height: 18px;
    padding: 3px 21px 3px 6px;
    @include ellipsis();
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
}
.#{$uiname}-icon-wrap {
    display: block;
    position: relative;
    height: 0;
}
.#{$uiname}-icon-wrap .ui-icon-angle-down, .#{$uiname}-icon-wrap .ui-icon-angle-up {
    display: block;
}
.#{$uiname}-icon {
    display: none;
    color: #b5b5b5;
    cursor: pointer;
    padding: 0 6px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -21px;
}
.#{$uiname}:hover .#{$uiname}-source {
    border-color: #999999;
}
.#{$uiname}-focus .#{$uiname}-source {
    border-color: #3775c0;
}
.#{$uiname}-focus:hover .#{$uiname}-source {
    border-color: #3775c0;
}
.#{$uiname}-error .#{$uiname}-source {
    border-color: #ff8888;
}
.#{$uiname}-error:hover .#{$uiname}-source {
    border-color: #ff8888;
}
.#{$uiname}-disabled .#{$uiname}-source {
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    color: #cccccc;
    cursor: default;
}
.#{$uiname}-disabled .#{$uiname}-icon {
    cursor: default;
}
.#{$uiname}-disabled:hover .#{$uiname}-source {
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    color: #cccccc;
    cursor: default;
}
.#{$uiname}-small .#{$uiname}-source {
    border-radius: 2px;
}
.#{$uiname}-small .#{$uiname}-input {
    padding-top: 1px;
    padding-bottom: 1px;
}
.#{$uiname}-small .#{$uiname}-icon {
    top: -19px;
}

.#{$uiname}-menu {
    display: none;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
    _width: auto !important;
    z-index: 1001;
}
.#{$uiname}-menu-inner {
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    overflow-y: scroll;
    padding: 3px 0;
}



.ui-state-hover, .#{$uiname}-item-selected {
    background-color: #58b359;
    color: #ffffff;
}
.#{$uiname}-item-selected .ui-icon {
    color: #ffffff;
}

