    <div class="aside">
        <ul class="vnac">
            <li>
                <div class="title">核心概念</div>
                <ul class="child-nav">
                    <li ms-repeat="concepts" ms-click="scrollToView('c-'+el.id)">{{el.name}}</li>
                </ul>
            </li>
            <li>
                <div class="title">各种绑定</div>
                <ul class="child-nav">
                    <li ms-repeat="bindings" ms-click="scrollToView(el)">{{el}}</li>
                </ul>
            </li>

            <li>
                <div class="title">各种回调</div>
                <ul class="child-nav">
                    <li ms-repeat="callbacks" ms-click="scrollToView(el)">{{el}}</li>
                </ul>
            </li>
            <li>
                <div class="title">静态方法</div>
                <ul class="child-nav">
                    <li ms-repeat="staticMethod" ms-click="scrollToView(el)">静态方法</li>
                </ul>
            </li>
            <li>
                <div class="title">原型方法</div>
                <ul class="child-nav">
                    <li ms-repeat="prototypeMethod" ms-click="scrollToView(el)">原型方法</li>
                </ul>
            </li>
            <li>
                <div class="title">表单示例</div>
                <ul class="child-nav">
                    <li ms-repeat="formExamples" ms-click="scrollToView(el)">表单示例</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="l-main">
        <div ms-repeat="concepts" ms-include-src="pages/index/views/apis/concepts/{{el.id}}.html"  data-include-rendered="highlight">

        </div>
        <div>
            <h3 style='color:green'> avalon的指令分为三大类</h3>
            <ul style='list-style:circle inside'>
                <li>以ms-*开头的绑定属性</li>
                <li ms-skip>位于文本节点或位于ms-attr-*, ms-href, ms-src, ms-value, ms-title,
                    ms-alt中的{{}}插值表达式
                    (其中ms-value, ms-title, ms-alt已经在1.3.6已经废弃)</li>
                <li>以data-xxx-*开头的辅助指令(如data-duplex-changed, data-duplex-focus,
                    data-duplex-event, data-repeat-rendered,data-include-loaded....)</li>
            </ul>
        </div>
        <div ms-if="supportSVG"　ms-include-src="'pages/index/views/apis/bindings/bindings.svg'">
        </div>
        <div ms-if="!supportSVG">
            <img src="pages/index/views/apis/bindings/bindings.png"/>
        </div>

        <div ms-repeat="bindingIncludes" ms-include-src="pages/index/views/apis/bindings/{{el}}.html"  data-include-rendered="highlight">

        </div>

        <div ms-repeat="callbacks" ms-include-src="pages/index/views/apis/callbacks/{{el}}.html"  data-include-rendered="highlight">

        </div>
        <div ms-include-src="'pages/index/views/apis/statics/statics.html'"  data-include-rendered="highlight">

        </div>
        <div ms-include-src="'pages/index/views/apis/prototypes/prototypes.html'"  data-include-rendered="highlight">

        </div>
        <div ms-include-src="'pages/index/views/apis/form/index.html'"  data-include-rendered="highlight">
        </div>
    </div>
</div>

