@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-roleselect {
  font-size: 12px; }

.ui-roleselect-menu {
  width: 180px;
  height: 190px;
  border: 1px solid lightgray;
  background: white;
  float: left;
  display: inline; }
.ui-roleselect ul {
  width: 100%; }
.ui-roleselect-option {
  width: 58px;
  height: 62px;
  padding: 10px;
  vertical-align: middle;
  float: left;
  display: inline;
  margin-top: 40px; }
.ui-roleselect li {
  list-style: none;
  padding: 3px 6px;
  cursor: pointer;
  color: black; }
.ui-roleselect li.ui-state-hover {
  background-color: #f8f8f8; }
.ui-roleselect li.ui-state-active {
  background-color: #58b359;
  color: white; }
.ui-roleselect li.ui-state-disabled {
  cursor: default;
  color: #999999;
  background: white; }
.ui-roleselect .ui-button {
  height: 24px;
  line-height: 24px;
  background-color: #f8f8f8;
  border: 1px solid lightgray;
  border-radius: 2px;
  color: black;
  text-align: center;
  margin-top: 10px;
  cursor: pointer; }
