<!DOCTYPE html>
<html>
    
    <head>
        <title>布局组件</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="descriptions" content="区域布局管理组件。一个组件中最多分为5个区域，分别为东西南北中区。其中中区是默认存在并不可移除的。">
        <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css">
        <script src="../highlight/shCore.js"></script>
    </head>
    
    <body>
        <div class="wrapper">
            <h2>Layout</h2>
            <fieldset>
                <legend>布局组件</legend>
                <p>区域布局管理组件。一个组件中最多分为5个区域，分别为东西南北中区。其中中区是默认存在并不可移除的。</p>
            </fieldset>
            <h3 class="table-doc-title">使用说明</h3>
            <table class="table-doc" border="1">
                <colgroup>
                    <col width="180">
                        <col width="95">
                            <col width="120">
                </colgroup>
                <tbody>
                    <tr>
                        <th>名字</th>
                        <th>类型</th>
                        <th>默认值</th>
                        <th>说明</th>
                    </tr>
                    <tr>
                        <td align="center" colspan="4">配置参数</td>
                    </tr>
                    <tr>
                        <td>stretchMax</td>
                        <td>Boolean</td>
                        <td>true</td>
                        <td>Layout的元素是否填充满父级DOM。此参数为true时，layoutWidth和layoutHeight不参与计算</td>
                    </tr>
                    <tr>
                        <td>layoutWidth</td>
                        <td>Number</td>
                        <td>0</td>
                        <td>Layout组件的整体宽度。stretchMax为true时，此参数不参与计算</td>
                    </tr>
                    <tr>
                        <td>layoutHeight</td>
                        <td>Number</td>
                        <td>0</td>
                        <td>Layout组件的整体高度。stretchMax为true时，此参数不参与计算</td>
                    </tr>
                    <tr>
                        <td>regionBorderWidth</td>
                        <td>Number</td>
                        <td>1</td>
                        <td>区域的边框的宽度</td>
                    </tr>
                    <tr>
                        <td>resizerSize</td>
                        <td>Number</td>
                        <td>5</td>
                        <td>区域的拖放元素的尺</td>
                    </tr>
                    <tr>
                        <td>eastRegion</td>
                        <td>Object</td>
                        <td>{}</td>
                        <td>东区配置对象。参看region对象</td>
                    </tr>
                    <tr>
                        <td>southRegion</td>
                        <td>Object</td>
                        <td>{}</td>
                        <td>南区配置对象。参看region对象</td>
                    </tr>
                    <tr>
                        <td>westRegion</td>
                        <td>Object</td>
                        <td>{}</td>
                        <td>西区配置对象。参看region对象</td>
                    </tr>
                    <tr>
                        <td>northRegion</td>
                        <td>Object</td>
                        <td>{}</td>
                        <td>北区配置对象。参看region对象</td>
                    </tr>
                    <tr>
                        <td>centreRegion</td>
                        <td>Object</td>
                        <td>{}</td>
                        <td>中区配置对象。参看region对象</td>
                    </tr>
                    <tr>
                        <td>removeRegion(opts,region)</td>
                        <td>Function</td>
                        <td></td>
                        <td>删除一个Region并将DOM移出文档
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>opts</td>
                                        <td>Object</td>
                                        <td>vmodel</td>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west或者north。centre区域不可移除。</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>addRegion(opts,region,cfg)</td>
                        <td>Function</td>
                        <td></td>
                        <td>新增一个不存在的区域
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>opts</td>
                                        <td>Object</td>
                                        <td>vmodel</td>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west或者north。</td>
                                    </tr>
                                    <tr>
                                        <td>cfg</td>
                                        <td>Object</td>
                                        <td>区域配置对象。参看region配置</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>afterResize(region,beforeSize,afterSize)</td>
                        <td>Function</td>
                        <td></td>
                        <td>拖动拖放器后区域大小改变的回调函数。单独的区域配置中若有相同的回调函数，则该区域被拖动后主配置的回调不会触发
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west或者north。</td>
                                    </tr>
                                    <tr>
                                        <td>beforeSize</td>
                                        <td>Number</td>
                                        <td>拖放前的尺寸</td>
                                    </tr>
                                    <tr>
                                        <td>afterSize</td>
                                        <td>Number</td>
                                        <td>拖放后的尺寸</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>afterRemove(region)</td>
                        <td>Function</td>
                        <td></td>
                        <td>移除一个区域后的回调函数。单独的区域配置中若有相同的回调函数，则该区域被移除后主配置的回调不会触发
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west或者north。</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>afterAdd(region,dom,cfg)</td>
                        <td>Function</td>
                        <td></td>
                        <td>新增一个区域后的回调函数。
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west或者north。</td>
                                    </tr>
                                    <tr>
                                        <td>dom</td>
                                        <td>Object</td>
                                        <td>新增区域的DOM节点</td>
                                    </tr>
                                    <tr>
                                        <td>cfg</td>
                                        <td>Object</td>
                                        <td>region配置对象。参看region配置</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>updateLayoutSize(opts)</td>
                        <td>Function</td>
                        <td></td>
                        <td>当更改Layout尺寸后，需要调用此函数重新计算布局大小。
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>opts</td>
                                        <td>Object</td>
                                        <td>vmodel</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>hasRegion(opts,region)</td>
                        <td>Function</td>
                        <td></td>
                        <td>检测Layout是否包含一个区域。
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>opts</td>
                                        <td>Object</td>
                                        <td>vmodel</td>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west, north或者centre。</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>getRegionRealSize(opts,region)</td>
                        <td>Function</td>
                        <td></td>
                        <td>获取一个区域的真实尺寸。
                            <table border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:100px">参数名/返回值</th>
                                        <th style="width:70px">类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>opts</td>
                                        <td>Object</td>
                                        <td>vmodel</td>
                                    </tr>
                                    <tr>
                                        <td>region</td>
                                        <td>Object</td>
                                        <td>east, south, west或者north。</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="others">
                <p>
                    <b>使用ms-layout-dock在Layout组件下自定义区域内的内容</b>
                </p>除了使用API的方式配置Layout组件，还可以使用ms-layout-dock属性，在HTML文档内配置区域的位置以及内容。如下：
                <pre
                class="brush:html;gutter:false;toolbar:false;">&lt;div ms-widget="layout,layoutVM,$layoutVMOptions" class="container"&gt;
                    &lt;div ms-layout-dock="north"&gt; &lt;div style="width:100%;height:100px;background-image:logo.png"&gt;聪明你的旅行&lt;/div&gt;
                    &lt;/div&gt; &lt;/div&gt;例子4内有完整的示例方式。</pre>
                    <p>
                        <b>region对象</b>
                    </p>region对象是一个非常重要的对象，下面是说明和默认值
                    <pre class="brush:javascript;gutter:false;toolbar:false;">{
    //区域尺寸。不可用于centre区域。数字或者百分比。
    //对于North和South来说，代表的是Height，因为Width是固定等于整个Layout的Width
    //对于East和West来说，代表的是Width，因为Height是固定等于整个Layout.Height - North.size - South.size
    size: 0,

    //是否增加一个resizer。不可用于centre区域
    resizable: false,

    //增加在区域上的CSS
    regionClass: "",

    //区域被移除后的回调。不可用于centre区域。配置了本项后，移除区域时不会触发主配置的afterRemove回调
    afterRemove: undefined,

    //区域改变大小后的回调。不可用于centre区域。配置了本项后，改变区域大小时不会触发主要的afterResize回调
    afterResize: undefined
}</pre>
            </div>
            <ul class="example-links">
                <li>
                    <a href="avalon.layout.ex1.html">最基础的Layout配置</a>
                </li>
                <li>
                    <a href="avalon.layout.ex2.html">移除和增加区域</a>
                </li>
                <li>
                    <a href="avalon.layout.ex3.html">嵌套的Layout</a>
                </li>
                <li>
                    <a href="avalon.layout.ex4.html">百分比尺寸的Layout，改变Layout尺寸</a>
                </li>
            </ul>
        </div>
    </body>

</html>