@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname : ".oni-layout";

#{$uiname} {
	position: relative;
	.resizer {
	    position: absolute;
	    z-index: 10;
        background-color:#E6EEF8;
	    opacity: 0.5;
    }
    .north-resizer,.south-resizer {
	    cursor: row-resize;
    }
    .west-resizer,.east-resizer {
    	cursor: e-resize;
    }
    .region {
    	display: inline-block;
    	position: absolute;
        border: 1px solid #95B8E7;
    }
    .nested-region {
        border-style: none;
    }
}
.north-region-unresizable {
    .east-region,.centre-region,.west-region {
        border-top-style: none;
    }
}
.south-region-unresizable {
    .east-region,.centre-region,.west-region {
        border-bottom-style: none;
    }
}
.east-region-unresizable {
    .centre-region {
        border-right-style: none;
    }
}
.west-region-unresizable {
    .centre-region {
        border-left-style: none;
    }
}