<!DOCTYPE html>
<html>
    <head>
        <title>Add and Remove layout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet"  href="../highlight/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
        <script src="../highlight/shCore.js"></script>
        <script type="text/javascript" src="../avalon.js"></script>
    </head>
    <body ms-controller="demo" style="padding: 50px 100px;">
        <select ms-widget="dropdown, dropdownVM" ms-duplex="value">
            <option value="north">North</option>
            <option value="south">South</option>
            <option value="west" selected>West</option>
            <option value="east">East</option>
        </select>

        <input ms-widget="button" value="移除" type="button" ms-click="removeLayout"/>
        <input ms-widget="button" value="添加" type="button" ms-click="addLayout"/>
        <div style="width:700px; height: 500px; padding-top:10px;">
            <div ms-widget="layout,layoutVM,$layoutVMOptions" class="container"></div>
        </div>
        <script>
            require(["./layout/avalon.layout","./button/avalon.button","./dropdown/avalon.dropdown"], function() {
                
                avalon.define("demo", function(vm) {
                    vm.$layoutVMOptions = {
                        northRegion: {
                            size: 100,
                            resizable: true,
                            regionClass: "north",
                            afterResize: function (region, beforeSize, afterSize) {
                                avalon.log("Region Callback called. Resize done. Region: ", region, ". BeforeSize: ", beforeSize, ". AfterSize: ", afterSize);
                            }
                        },
                        southRegion: {
                            size: 110,
                            resizable: true,
                            afterRemove: function (region) {
                                avalon.log("Region Callback called. Remove done. Region: ", region);
                            }
                        },
                        eastRegion: {
                            size: 120,
                            resizable: true
                        },
                        westRegion: {
                            size: 130,
                            resizable: true
                        },
                        afterResize: function (region, beforeSize, afterSize) {
                            avalon.log("General Callback called. Resize done. Region: ", region, ". BeforeSize: ", beforeSize, ". AfterSize: ", afterSize);
                        },
                        afterRemove: function (region) {
                            avalon.log("General Callback called. Remove done. Region: ", region);
                        },
                        afterAdd: function (region, regionDom, regionConfig) {
                            avalon.log("General Callback called. Add done. Region: ", region);
                        },
                        stretchMax: true,
                        resizerSize: 5
                    };
                    vm.removeLayout = function() {
                        avalon.vmodels.layoutVM.removeRegion(avalon.vmodels.layoutVM, avalon.vmodels.dropdownVM.value);
                    };
                    vm.addLayout = function() {
                        avalon.vmodels.layoutVM.addRegion(avalon.vmodels.layoutVM, avalon.vmodels.dropdownVM.value, {
                            resizable: true,
                            size: 100,
                            regionClass: "additional-css-class"
                        });
                    };
                });
                avalon.define("dropdownVM", function (vm) {
                    vm.value = 'east';
                });
                avalon.scan()
            })
        </script>
    </body>
</html>
