@charset "utf-8"; 
@import "../chameleon/oniui-theme";
$uiname : ".oni-layout";

#{$uiname} {
	position: relative;
	.resizer {
	    position: absolute; 
	    z-index: 10;
        background-color:#E6EEF8;
	    opacity: 0.5;
        font-size: 0px; // IE6下Resizer尺寸修复
    }
    .north-resizer,.south-resizer {
	    cursor: row-resize;
    }
    .west-resizer,.east-resizer {
    	cursor: e-resize;
    }
    .region {
    	display: inline-block;
    	position: absolute;
        border-style: solid;
        border-color: #95B8E7;
    }
}