<!DOCTYPE html>
<html>
    <head>
        <title>Add and Remove layout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet"  href="../highlight/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
        <script src="../highlight/shCore.js"></script>
        <script type="text/javascript" src="../avalon.js"></script>
    </head>
    <body ms-controller="demo" style="padding: 50px 100px;">
        <select ms-widget="dropdown,demo" ms-duplex="value">
            <option value="north">North</option>
            <option value="south">South</option>
            <option value="west" selected>West</option>
            <option value="east">East</option>
        </select>

        <input ms-widget="button" value="移除" type="button" ms-click="removeLayout"/>
        <input ms-widget="button" value="添加" type="button" ms-click="addLayout"/>
        <div style="width:700px; height: 500px; padding-top:10px;">
            <div ms-widget="layout,layoutVM"class="container">
                <div ms-layout-dock="north" ms-layout-resizable class="north" ms-layout-size="100"></div>
                <div ms-layout-dock="west" ms-layout-resizable class="west" ms-layout-size="110"></div>
                <div ms-layout-dock="centre" class="centre"></div>
                <div ms-layout-dock="east" ms-layout-resizable class="east" ms-layout-size="120"></div>
                <div ms-layout-dock="south" ms-layout-resizable class="south" ms-layout-size="130"></div>
            </div>
        </div>
        <script>
            require(["./layout/avalon.layout","./button/avalon.button","./dropdown/avalon.dropdown"], function() {
                avalon.define("demo", function(vm) {
                    vm.value="east";
                    vm.removeLayout = function() {
                        var layoutVM = avalon.vmodels.layoutVM;
                        layoutVM.removeRegion(vm.value);
                    };
                    vm.addLayout = function() {
                        var layoutVM = avalon.vmodels.layoutVM;
                        layoutVM.addRegion(vm.value, {
                            resizable: true,
                            size: 100,
                            regionClass: "additional-css-class"
                        });
                    };
                })
                avalon.scan()
            })
        </script>
    </body>
</html>
