<!DOCTYPE html>
<html>
    <head>
        <title>Basic Layout demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet"  href="../highlight/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
        <script src="../highlight/shCore.js"></script>
        <script type="text/javascript" src="../avalon.js"></script>
    </head>
    <body ms-controller="demo">
        <div style="width: 600px; height: 500px;" ms-css-border-top-style="{{c?'none':'solid'}}">
            <div ms-widget="layout,layoutVM,$layoutVMOptions" class="container" style="margin:10px 0 0 50px;"></div>
        </div>
        <script>
            require(["./layout/avalon.layout"], function() {
                avalon.define("demo", function(vm) {
                    vm.c = true;
                    vm.$layoutVMOptions = {
                        northRegion: {
                            size: 100,
                            resizable: true,
                            regionClass: "north"
                        },
                        southRegion: {
                            size: 110,
                            resizable: false,
                            regionClass: "some-css-class0 some-css-class1"
                        },
                        eastRegion: {
                            size: 120,
                            resizable: true
                        },
                        westRegion: {
                            size: 130,
                            resizable: true
                        },
                        centreRegion: {
                            regionClass: "addtional-class-for-centre"
                        },
                        stretchMax: true,
                        resizerSize: 5,
                        regionBorderWidth: 1
                    };
                })
                avalon.scan()
            })
        </script>
    </body>
</html>
