@charset "UTF-8";
/*!
miracle 中译：神迹
by 司徒正美 2014.6.28 拉萨开往西宁的火车上
*/
/*!
// Shape/Polygon/Triangle
// @author 司徒正美
// $direction: 其值可以为top,  bottom, left, right 或者是 top-left， top-right, bottom-left, bottom-right
// $width: 像素值，em值
// $height: 像素值，em值， half, auto。half为宽的一半，比较好看，auto则与宽相等
// $color: 底色
//默认生成高为底的一半的等腰三角形
index.scss
.top-triangle{
   @include triangel(top);
}
index.html
<!DOCTYPE html>
<html>
    <head>
        <title>triangle by 司徒正美</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link charset="utf-8" href="index.css"  rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="top-triangle"></div><br/>
        <div class="bottom-triangle"></div><br/>
        <div class="left-triangle"></div><br/>
        <div class="right-triangle"></div><br/>
        <div class="top-left-triangle"></div><br/>
        <div class="top-right-triangle"></div><br/>
        <div class="bottom-left-triangle"></div><br/>
        <div class="bottom-right-triangle"></div>
    </body>
</html>

*/
.float2 {
  display: inline;
  float: left; }

body {
  color: #333333; }

.top-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-right: 0.5em dashed transparent;
  border-bottom: 0.5em solid black;
  border-left: 0.5em dashed transparent; }

.bottom-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em dashed transparent;
  border-left: 0.5em dashed transparent; }

.left-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em dashed transparent;
  border-right: 0.5em solid black;
  border-bottom: 0.5em dashed transparent; }

.right-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em dashed transparent;
  border-bottom: 0.5em dashed transparent;
  border-left: 0.5em solid black; }

.top-left-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em dashed transparent;
  border-bottom: 0.5em dashed transparent;
  border-left: 0.5em solid black; }

.top-right-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em solid black;
  border-right: 0.5em solid black;
  border-bottom: 0.5em dashed transparent;
  border-left: 0.5em dashed transparent; }

.bottom-left-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em dashed transparent;
  border-right: 0.5em dashed transparent;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid black; }

.bottom-right-triangle {
  width: 0;
  height: 0;
  line-height: 0;
  border-top: 0.5em dashed transparent;
  border-right: 0.5em solid black;
  border-bottom: 0.5em solid black;
  border-left: 0.5em dashed transparent; }

.pentagon {
  position: relative;
  width: 32.4px;
  border-width: 30px 10.8px 0;
  border-style: solid;
  border-color: #a9ea00 transparent; }
  .pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -51px;
    left: -10.8px;
    border-width: 0 27px 21px;
    border-style: solid;
    border-color: transparent transparent #a9ea00; }

.hexagon {
  width: 60px;
  height: 30px;
  background-color: pink;
  position: relative; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; }
  .hexagon:before {
    top: -15px;
    border-bottom: 15px solid pink; }
  .hexagon:after {
    bottom: -15px;
    border-top: 15px solid pink; }

.octagon {
  width: 60px;
  height: 25.2px;
  background: blue;
  position: relative; }
  .octagon:before, .octagon:after {
    content: "";
    position: absolute;
    left: 0;
    width: 25.2px;
    height: 0;
    border-left: 17.4px solid transparent;
    border-right: 17.4px solid transparent; }
  .octagon:before {
    top: -17.4px;
    border-bottom: 17.4px solid blue; }
  .octagon:after {
    bottom: -17.4px;
    border-top: 17.4px solid blue; }

.rhombus {
  width: 60px;
  height: 60px;
  background: green;
  -webkit-transform: rotate(-45deg) skew(0deg, 0deg);
  -moz-transform: rotate(-45deg) skew(0deg, 0deg);
  -ms-transform: rotate(-45deg) skew(0deg, 0deg);
  -o-transform: rotate(-45deg) skew(0deg, 0deg);
  transform: rotate(-45deg) skew(0deg, 0deg); }

.yin-yang {
  width: 9.6em;
  height: 4.8em;
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 0.2em 0.2em 5em 0.2em;
  position: relative; }
  .yin-yang, .yin-yang:before, .yin-yang:after {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%; }
  .yin-yang:before, .yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    border: 1.8em solid;
    width: 1.2em;
    height: 1.2em; }
  .yin-yang:before {
    left: 0;
    background: white;
    border-color: black; }
  .yin-yang:after {
    left: 50%;
    background: black;
    border-color: white; }
