.clrfix {
  zoom: 1; }
  .clrfix:before, .clrfix:after {
    content: '';
    display: block; }
  .clrfix:after {
    clear: both; }

.ui-switch {
  position: relative;
  height: 100%;
  top: 0;
  overflow: hidden;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #ccc;
  /*fix ie 8 bugs*/ }
  .ui-switch label, .ui-switch span {
    cursor: pointer;
    margin: 0;
    top: 0;
    left: 0; }
  .ui-switch-normal {
    width: 100px;
    height: 28px;
    font-size: 14px; }
  .ui-switch-mini {
    width: 74px;
    height: 17px;
    font-size: 12px; }
  .ui-switch-small {
    width: 79px;
    height: 24px;
    font-size: 12px; }
  .ui-switch-large {
    width: 120px;
    height: 37px;
    font-size: 16px; }
  .ui-switch-bar {
    position: absolute;
    width: 150%;
    left: 0; }
  .ui-switch-animate {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s; }
  .ui-switch-left, .ui-switch-right {
    width: 33%;
    background-color: #005fcc;
    color: #fff; }
  .ui-switch-dragger {
    width: 34%; }
  .ui-switch-left, .ui-switch-right, .ui-switch-dragger {
    float: left;
    display: inline;
    height: 20px;
    line-height: 20px;
    padding: 4px 0; }
  .ui-switch-large .ui-switch-left, .ui-switch-large .ui-switch-right, .ui-switch-large .ui-switch-dragger {
    padding: 9px 0;
    height: 19px;
    line-height: 19px; }
  .ui-switch-small .ui-switch-left, .ui-switch-small .ui-switch-right, .ui-switch-small .ui-switch-dragger {
    padding: 3px 0;
    height: 18px;
    line-height: 18px; }
  .ui-switch-mini .ui-switch-left, .ui-switch-mini .ui-switch-right, .ui-switch-mini .ui-switch-dragger {
    padding: 4px 0;
    height: 9px;
    line-height: 9px; }
  .ui-switch-disabled, .ui-switch-disabled .ui-switch-bar {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default; }
  .ui-switch-disabled label, .ui-switch-disabled span {
    cursor: default; }
