@import "../style/default.scss";
$pf : ".ui-switch";
v\:* { behavior: url(#default#VML);} 
#{$pf} {
	position: relative;
	z-index: 10;
	height: 100%;
	top:0;
	overflow: hidden;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: none;
	background: none;
	
	&-on{
		background-image: url("bg.gif");
	}

    & label, & span{
		cursor: pointer;
		margin: 0;
		top:0;
		left:0;
		position: relative;
	}
	&-normal{
	    width: 35px;
	    height: 18px;
	}
	&-large{
	    width: 57px;
	    height: 30px;
	}
	&-bar{
		position: absolute;
		z-index: 10;
		width: 150%;
		left:0;
	}
	&-animate{
		transition:all .5s;
		-webkit-transition:all .5s;
		-moz-transition:all .5s;
		-o-transition:all .5s;
		-ms-transition:all .5s;
	}
	&-left, &-right{
		width: 33%;
		color:#fff;
	}
	&-right{
		color: #9B9B9B;
	}
	&-dragger{
		width: 34%;
		&-ball{
			width: 14px;
			height: 14px;
			left: 50%;
			top:50%;
			margin-left: -7px;
			margin-top: -7px;
			position: absolute;
			background-position: -57px -54px;
			&-unchecked{
				margin-left: -6px;
			}
		}
	}
	&-on {
		position: absolute;
		left: 50%;
		top:50%;
		background-position: -57px -83px;
		width: 8px;
		height: 7px;
		margin-left: -4px;
		margin-top: -3px;
	}
	&-bg{
		background-position: -57px 0;
	}
	&-uckbg{
		background-position: -57px -36px;
	}
	&-large{
		#{$pf}{
			&-dragger-ball{
				height: 24px;
				width: 24px;
				margin-left: -13px;
				margin-top: -12px;
				background-position: -69px -67px;
				&-unchecked{
					margin-left: -10px;
				}
			}
			&-on {
				background-position: -71px -54px;
				width: 14px;
				height: 11px;
				margin-left: -7px;
				margin-top: -5px;
			}
			&-bg{
				background-position: 0 0;
			}
			&-uckbg{
				background-position: 0 -60px;
			}
		}
	}
	&-left, &-right, &-dragger{
		float: left;
		display: inline;
		height: 18px;
		line-height: 18px;
		font-weight: bolder;
	}
	&-large &-left, &-large &-right, &-large &-dragger{
		height:30px;
		line-height: 30px;
		font-size: 24px;
	}
	&-large &-right{
		text-indent: -3px;
	}
	&-bg{
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	// do not use background-image
	&-use-no-img{
		#{$pf}-ico{
			background-image: none;
		}
		#{$pf}-bg{
			border-radius: 9px;
			background-color: #45A846;
		}
		#{$pf}-dragger-ball{
			background: #fff;
			border-radius: 6px;
		}
		&#{$pf}-large{
			#{$pf}-bg{
				border-radius: 15px;
			}
			#{$pf}-dragger-ball{
				border-radius: 12px;
			}
		}
		#{$pf}-uckbg{
			background-color: #bcbcbc;
		}
		&.ui-state-disabled{
			#{$pf}-uckbg{
				background-color: #dedede;
				&-disabled{
					background-color: #dedede;
				}
			}
		}
	}
}


.hd{
	display: none;
}

.ui-state-disabled ,.ui-state-hover{
	#{$pf}-dragger-ball{
		opacity: .4;
	}
	.oval-hd{
		display: block;
	}
	.oval-n{
		display: none;
	}
}
.ui-state-disabled{
	& label, & span{
		cursor: default;
		color: #fff;
	}
	#{$pf}-bg{
		background-position: -57px -18px;
	}
	.oval-hd{
		display: block;
	}
	.oval-n {
		display: none;
	}
}
#{$pf}-large{
	#{$pf}-uckbg-disabled {
		background-position: 0 -30px;
	}
}