@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
div.ui-tab {
  border: none; }

.ui-tab {
  /*dir=v, small size*/
  /*dir=v, normal size*/ }
  .ui-tab .ui-tab-nav .ui-state-default {
    float: left;
    display: inline;
    list-style: none;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px;
    position: relative;
    background-color: #f8f8f8;
    cursor: pointer;
    border: 1px solid lightgray;
    border-right-width: 0;
    color: black; }
  .ui-tab .ui-tab-nav .ui-state-default a, .ui-tab .ui-tab-nav .ui-state-default:link, .ui-tab .ui-tab-nav .ui-state-default a:hover {
    color: black;
    text-decoration: none; }
  .ui-tab .ui-tab-nav .ui-state-hover {
    color: black;
    background: white; }
    .ui-tab .ui-tab-nav .ui-state-hover a {
      color: black; }
    .ui-tab .ui-tab-nav .ui-state-hover a:link {
      color: black; }
    .ui-tab .ui-tab-nav .ui-state-hover .ui-tab-close {
      border-color: white; }
  .ui-tab .ui-tab-nav .ui-state-active {
    border-bottom-color: white;
    background: white;
    color: black; }
    .ui-tab .ui-tab-nav .ui-state-active a {
      color: black; }
    .ui-tab .ui-tab-nav .ui-state-active a:link {
      color: black; }
    .ui-tab .ui-tab-nav .ui-state-active .ui-tab-close {
      border-color: white; }
  .ui-tab .ui-tab-nav .ui-state-disabled {
    color: #aaaaaa;
    cursor: default; }
    .ui-tab .ui-tab-nav .ui-state-disabled a {
      color: #aaaaaa;
      cursor: default; }
    .ui-tab .ui-tab-nav .ui-state-disabled a:link {
      color: #aaaaaa;
      cursor: default; }
  .ui-tab .ui-tab-nav .ui-tab-last {
    border-right-width: 1px; }
  .ui-tab-small-nav .ui-state-default {
    border-right-width: 1px;
    margin-right: -1px;
    z-index: 1;
    padding: 7px 10px; }
  .ui-tab-small-nav .ui-state-active {
    border-color: #3775c0;
    z-index: 10; }
  .ui-tab-vertical .ui-tab-nav .ui-state-default {
    float: none;
    display: block;
    text-align: left;
    border-right-width: 1px;
    border-bottom-width: 0; }
  .ui-tab-vertical .ui-tab-nav .ui-state-active {
    border-right-color: white;
    border-bottom-color: lightgray; }
  .ui-tab-vertical .ui-tab-nav .ui-tab-last {
    border-bottom-width: 1px; }
  .ui-tab-click .ui-state-default {
    cursor: pointer; }
  .ui-tab-removable {
    padding-right: 30px; }
  .ui-tab-nav .ui-tab-item .ui-tab-close {
    position: absolute;
    right: 0px;
    top: 7px;
    padding: 3px;
    height: 12px;
    width: 12px;
    overflow: hidden;
    border: 1px solid #f8f8f8;
    border-right-width: 0;
    color: #666666;
    text-indent: 0;
    line-height: 14px;
    font-family: Helvetica, Arial, sans-serif; }
  .ui-tab .ui-tab-nav .ui-state-active .ui-tab-close-hover {
    background: white;
    border-color: lightgray;
    cursor: pointer; }
  .ui-tab .ui-tab-nav .ui-state-hover .ui-tab-close-hover {
    background: white;
    border-color: lightgray;
    cursor: pointer; }
