@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname : ".ui-tab";
$uiname2 : ".ui-state";

#{$uiname2}-default{
    font-size:12px;
    float: left;
    display: inline;
    list-style: none;
    padding: 10px 20px;
    position: relative;
    border-right-width: 0;
    text-align: center;
}
#{$uiname2}-active {
	border-bottom-color: #fff;
}
#{$uiname} {
	&-last{
	    border-right-width:1px; 
	}
	&-click #{$uiname2}-default{
	    cursor: pointer;
	}
	&-removable{
	    padding-right: 30px;
	}
	&-close{
	    position: absolute;
	    right: 0px;
	    top:7px;
	    padding: 3px;
	    height: 12px;
	    width: 12px;
	    overflow: hidden;
	    border: 1px solid #f8f8f8;
	    border-right-width:0; 
	    color: #666;
	}
	#{$uiname2}-hover,#{$uiname2}-active{
	    #{$uiname}-close{
	    	border-color: #fff;
	    }
	}

	&-close-hover, & #{$uiname2}-active &-close-hover,& #{$uiname2}-hover &-close-hover{
	    background: #fff;
	    border-color: #dedede;
	    cursor: pointer;
	}
	/*dir=v, small size*/
	&-small {
		#{$uiname2}-default{
		    border-right-width: 1px;
		    margin-right: -1px;
		    z-index: 1;
		    padding: 7px 10px;
		}
		#{$uiname2}-active{
		    border-color: #3775C0;
		    z-index: 10;
		}
	}
	/*dir=v, normal size*/
	&-vertical {
		#{$uiname2}-default{
		    float:none;
		    display: block;
		    text-align: left;
		    border-right-width: 1px;
		    border-bottom-width: 0;
		}
		#{$uiname2}-active{
		    border-right-color: #fff;
		    border-bottom-color: #dedede;
		}
		#{$uiname}-last{
		    border-bottom-width: 1px;
		}
	}
}