@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-helper-hidden-accessible {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0 none;
  margin: -1px;
  padding: 0;
  clip: rect(0px 0px 0px 0px); }

.ui-corner-all {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.ui-slider {
  position: relative;
  text-align: left;
  background: #e6e6e6; }
  .ui-slider .ui-slider-handle {
    position: absolute;
    display: block;
    cursor: default;
    height: 14px;
    width: 14px;
    line-height: 0px;
    z-index: 2;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    font-size: 0px;
    background: #3775c0; }
    .ui-slider .ui-slider-handle.ui-state-hover {
      background: #82aadb; }
    .ui-slider .ui-slider-handle.ui-state-active {
      background: #22dddd !important; }
  .ui-slider .ui-slider-range {
    position: absolute;
    display: block;
    z-index: 1;
    line-height: 0px;
    border: 0 none;
    font-size: 0px;
    background: #afd9fc; }
  .ui-slider.ui-slider-vertical {
    height: 100px;
    width: 8px; }
    .ui-slider.ui-slider-vertical .ui-slider-handle {
      left: -3px;
      margin-bottom: -7px;
      margin-left: 0;
      margin-top: -7px; }
    .ui-slider.ui-slider-vertical .ui-slider-range {
      left: 0;
      width: 100%; }
      .ui-slider.ui-slider-vertical .ui-slider-range.ui-slider-range-min {
        bottom: 0; }
      .ui-slider.ui-slider-vertical .ui-slider-range.ui-slider-range-max {
        top: 0; }
  .ui-slider.ui-slider-horizontal {
    height: 8px; }
    .ui-slider.ui-slider-horizontal .ui-slider-handle {
      margin-left: -7px;
      top: -3px; }
    .ui-slider.ui-slider-horizontal .ui-slider-range {
      height: 100%;
      top: 0; }
      .ui-slider.ui-slider-horizontal .ui-slider-range.ui-slider-range-min {
        left: 0; }
      .ui-slider.ui-slider-horizontal .ui-slider-range.ui-slider-range-max {
        right: 0; }
  .ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
    background: #ccc; }
