@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "ui-dialog";
.#{$uiname} {
    position: absolute;
    text-align: left;
    .ui-btn {
        height: 26px;
        overflow: visible;
        _overflow-y: hidden;
        padding: 0 10px;
        @include border-radius(2px);
        @if($oinui-theme == smoothness) {
            font-size: 12px;
            color: #333333;
            background-color: #f8f8f8;
            border: 1px solid #cccccc;
        }
    }
    .ui-btn:hover {
        box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1);
        @if($oinui-theme == smoothness) {
            background-color: #f8f8f8;
            border-color: #bbbbbb;
            color: #333333;
        }
    }
    .ui-btn-primary {
        background-color: $ui-state-active-background-color;
        border-color: $ui-state-active-border-color;
        color: $ui-state-active-color;
    }
    .ui-btn-primary.ui-state-hover {
        background-color: lighten($ui-state-active-background-color, 10%);
        border-color: lighten($ui-state-active-border-color, 10%);
        color: $ui-state-active-color;
    }
    .#{$uiname}-inner {
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
        @if($oinui-theme == smoothness) {
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }
        .#{$uiname}-header {
            @if($oinui-theme == smoothness) {
                background-color: #f3f3f3;
            }
            .#{$uiname}-close {
                display: inline;
                @include float-right();
                padding: 1px 10px 1px 9px;
                margin-top: 5px;
                cursor: pointer;
                @if($oinui-theme == smoothness) {
                    background-color: #f3f3f3;
                    color: #666666;
                }
                .ui-icon {
                    cursor: pointer;
                }
                &:hover {
                    border-right: 0;
                    padding: 0 10px 0 8px;
                    @if($oinui-theme == smoothness) {
                        background-color: #ffffff;
                        border: 1px solid #dedede;
                    }
                }
            }
            .#{$uiname}-title {
                padding: 7px 10px;
                font-size: 12px;
                line-height: 20px;
                font-weight: 700;
            }
        }
        .#{$uiname}-content {
            font-size: 12px;
            padding: 17px 20px;
        }
        .#{$uiname}-footer {
            padding: 8px 5px;
            @if($oinui-theme == smoothness) {
                background-color: #f8f8f8;
            }
            .#{$uiname}-btns {
                display: inline;
                @include float-right();
                font-size: 0;
                .ui-btn {
                    margin-left: 10px;
                }
            }
        }
    }
}
.#{$uiname}-layout {
    display: none;
    *position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    @include opacity(0.6);
    zoom: 1;
    z-index: 1;
    background: #000;
}
