@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "oni-smartgrid";
.#{$uiname} {
    border: 1px solid #e5e5e5;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    table {
        table-layout: auto;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }
    .#{$uiname}-hide {
        display: none;
    }
    .oni-state-hover {
        background-color: #e8f5fd; 
    }
    .#{$uiname}-selected {
        background-color: #fff7e6;
    }
    .oni-state-disabled {
        color: #ccc;
        background: #fff;
        .oni-dropdown .oni-dropdown-source {
            border-color: #ccc;
        }
    }
    .oni-state-hidden input {
        visibility: hidden;
    }
    th {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        padding: 7px 5px;
        input {
            margin: 0;
        }
    }
    td {
        border-bottom: 1px solid #f3f3f3;
        padding: 7px 5px;
        word-break: break-all;
        word-wrap: break-word;
        input {
            margin: 0;
        }
    }
    .#{$uiname}-header {
        background-color: #f8f8f8;
        border-bottom: 1px solid #e5e5e5;
    }
    .#{$uiname}-header-fixed {
        background-color: #f8f8f8;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        z-index: 1;
    }
    .#{$uiname}-body {
        background: #fff;
        text-align: center;
    }
    .#{$uiname}-footer {
        background-color: #f8f8f8;
        font-size: 0;
        padding: 0;
        td {
            padding: 0
        }
        .#{$uiname}-pager-wrapper {
            width: 100%;
            padding: 5px 0px;
            overflow: hidden;
            background-color: #f8f8f8;
        }
    }
    .#{$uiname}-pager-options {
        font-size: 12px;
        float: left;
        height: 26px;
        line-height: 26px;
        padding-left: 5px; 
        div.oni-smartgrid-showinfo {
            @include inline-block();
        }
        .oni-dropdown {
            margin: 0 5px;
            vertical-align: top; 
        }
    }
    .#{$uiname}-nodata {
        padding: 23px 0;
        text-align: center;
        line-height: 15px;
    }
    /*三种容器的规则*/
    .oni-helper-asc, .oni-helper-desc,  .oni-helper-ndb{
        width:12px;
        height:12px;
        line-height: 1;
        vertical-align: middle;
        @include inline-block();
        //display: inline-block;
        position: relative;
        cursor: pointer;
    }
    /*三种容器下三角形的共同点*/
    .oni-helper-asc span, .oni-helper-desc span, .oni-helper-ndb span{
        position: absolute;
        top: 0px;
        left: 4px;
    }
    /*上三角*/
    .oni-helper-ndb .oni-helper-sort-top, .oni-helper-desc .oni-helper-sort-top{
        @include triangle(top, 12px, half, #ccc);
        top: 0px;
        left: 0px;
    }
    .oni-helper-asc .oni-helper-sort-top{
        @include triangle(top, 12px, half, #000);
        top: 0px;
        left: 0px;
    }
    /*下三角*/
    .oni-helper-ndb .oni-helper-sort-bottom, .oni-helper-asc .oni-helper-sort-bottom{
        @include triangle(bottom, 12px, half, #ccc);
        top: 8px;
        left: 0px;
    }
    .oni-helper-desc .oni-helper-sort-bottom{
        @include triangle(bottom, 12px, half, #000);
        top: 8px;
        left: 0px;
    }
    .oni-pager {
        display: inline;
        float: right; 
    }
}