@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.oni-smartgrid { border: 1px solid #e5e5e5; font-size: 12px; line-height: 20px; position: relative; /*三种容器的规则*/ /*三种容器下三角形的共同点*/ /*上三角*/ /*下三角*/ }
.oni-smartgrid table { table-layout: auto; width: 100%; border-spacing: 0; border-collapse: collapse; }
.oni-smartgrid .oni-smartgrid-hide { display: none; }
.oni-smartgrid .oni-state-hover { background-color: #e8f5fd; }
.oni-smartgrid .oni-smartgrid-selected { background-color: #fff7e6; }
.oni-smartgrid .oni-state-disabled { color: #ccc; background: #fff; }
.oni-smartgrid .oni-state-disabled .oni-dropdown .oni-dropdown-source { border-color: #ccc; }
.oni-smartgrid .oni-state-hidden input { visibility: hidden; }
.oni-smartgrid th { -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; padding: 7px 5px; }
.oni-smartgrid th input { margin: 0; }
.oni-smartgrid td { border-bottom: 1px solid #f3f3f3; padding: 7px 5px; word-break: break-all; word-wrap: break-word; }
.oni-smartgrid td input { margin: 0; }
.oni-smartgrid .oni-smartgrid-header { background-color: #f8f8f8; border-bottom: 1px solid #e5e5e5; }
.oni-smartgrid .oni-smartgrid-header-fixed { background-color: #f8f8f8; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; z-index: 1; }
.oni-smartgrid .oni-smartgrid-body { background: #fff; text-align: center; }
.oni-smartgrid .oni-smartgrid-footer { background-color: #f8f8f8; font-size: 0; padding: 0; }
.oni-smartgrid .oni-smartgrid-footer td { padding: 0; }
.oni-smartgrid .oni-smartgrid-footer .oni-smartgrid-pager-wrapper { width: 100%; padding: 5px 0px; overflow: hidden; background-color: #f8f8f8; }
.oni-smartgrid .oni-smartgrid-pager-options { font-size: 12px; float: left; height: 26px; line-height: 26px; padding-left: 5px; }
.oni-smartgrid .oni-smartgrid-pager-options div.oni-smartgrid-showinfo { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.oni-smartgrid .oni-smartgrid-pager-options .oni-dropdown { margin: 0 5px; vertical-align: top; }
.oni-smartgrid .oni-smartgrid-nodata { padding: 23px 0; text-align: center; line-height: 15px; }
.oni-smartgrid .oni-helper-asc, .oni-smartgrid .oni-helper-desc, .oni-smartgrid .oni-helper-ndb { width: 12px; height: 12px; line-height: 1; vertical-align: middle; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; position: relative; cursor: pointer; }
.oni-smartgrid .oni-helper-asc span, .oni-smartgrid .oni-helper-desc span, .oni-smartgrid .oni-helper-ndb span { position: absolute; top: 0px; left: 4px; }
.oni-smartgrid .oni-helper-ndb .oni-helper-sort-top, .oni-smartgrid .oni-helper-desc .oni-helper-sort-top { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 0 none; border-right: 6px dashed transparent; border-bottom: 6px solid #cccccc; border-left: 6px dashed transparent; top: 0px; left: 0px; }
.oni-smartgrid .oni-helper-asc .oni-helper-sort-top { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 0 none; border-right: 6px dashed transparent; border-bottom: 6px solid black; border-left: 6px dashed transparent; top: 0px; left: 0px; }
.oni-smartgrid .oni-helper-ndb .oni-helper-sort-bottom, .oni-smartgrid .oni-helper-asc .oni-helper-sort-bottom { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 6px solid #cccccc; border-right: 6px dashed transparent; border-bottom: 0; border-left: 6px dashed transparent; top: 8px; left: 0px; }
.oni-smartgrid .oni-helper-desc .oni-helper-sort-bottom { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 6px solid black; border-right: 6px dashed transparent; border-bottom: 0; border-left: 6px dashed transparent; top: 8px; left: 0px; }
.oni-smartgrid .oni-pager { display: inline; float: right; }
