@import "global";

.oni-layout-download{
    font-size: 16px;

    .wrap{
        @include inline-block;
        margin: 0 30px 0 0;
        padding: 20px 25px;
        border: 1px $color-border-grey solid;
        border-radius: 3px;

        .avatar{
            float: left;
        }

        .intro-wrap{
            margin: 0 0 0 90px;
        }

        .link{
            @include inline-block;
            margin: 6px 0 0;
            padding: 5px 15px;
            border-radius: $border-radiaus-btn;
            background-color: #2eb5f9;
            color: #fff;
            
            &:hover{
                background-color: #6cf;
            }
        }
    }
}