$font-stack: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

$color-normal: #212121;
$color-title: #212121;
$color-header-bg: #2c2f34;
$color-theme-blue: #1489e6;
$color-background-blue: #f9fafe;
$color-border-grey: #e5e9f2;

$font-normal: 14px;
$font-large: 16px;

$width-screen-min: 980px;

$border-radiaus-btn: 5px;

