@import "../../../chameleon/compass/css3";

$font-stack: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

$color-normal: #212121;
$color-title: #212121;
$color-header-bg: #2c2f34;
$color-theme-blue: #1489e6;
$color-border-grey: #e5e9f2;

$font-normal: 14px;
$font-large: 16px;

$border-radiaus-btn: 5px;

@font-face {font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*
* reset
*
*/
html,body,div,p,ul,li,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  position: relative;
  height: 100%;
  background-color: #f9fafe;
  color: $color-normal;
  font-size: $font-normal;
  font-family: $font-stack;
}
ul,ol{
  list-style: none;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: $color-normal;
}
h1,h2,h3,h4,h5{
  color: $color-title;
  font-size: $font-large;
}

/*
* custom classes
*
*/
.hidden{
  display: none;
}
.overdot{
  @include inline-block;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow:hidden;
}

/*
* components
*
*/
.button {
}
.more-button{
  display: block;
  width: 260px;
  margin: 15px auto 0;
  padding: 8px 0;
  background-color: #fff;
  text-align: center;
  border: 1px #c8c8c8 solid;
}
.icon{
  display: inline-block;
  vertical-align: middle;
  background: url("/static/image/app_sprite.png") 0 0 no-repeat;
}


/*
* layout
*
*/
.l-header{
  background-color: $color-header-bg;
  color: #fff;
  min-width: 980px;

  .oniicon{
    vertical-align: middle;
  }

  .container{
    height: 80px;
    line-height: 80px;
    padding: 0 12px;

    .nav{
      @include inline-block;

      .nav-list{
        margin: -5px 0 0 170px;

        .nav-item{
          @include inline-block;
          margin: 0 10px 0 0;

          .nav-link{
            @include inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: center;
            border-radius: $border-radiaus-btn;
            border: 1px #383d50 solid;
          }
        }

        .active{
          .nav-link{
            background-color: $color-theme-blue;
          }
        }
      }
    }
  }
}

.l-aside{
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 276px;
  float: left;
  border-right: 1px $color-border-grey solid;
}

.l-search{
  padding: 10px 0px;
  border-bottom: 1px $color-border-grey solid;

  .search-wrap{
    margin: 0 12px;
    border: 1px #e5e9f2 solid;
    background-color: #fff;
    font-size: 0;

    .search-input{
      width: 215px;
      padding: 0 0 0 10px;
      line-height: 30px;
      vertical-align: middle;
      font-size: 14px;
      border: none;
      outline: none;
    }
    .search-button{
      @include inline-block;
      width: 25px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 16px;
    }
  }
}

.l-list-wrap{
  position: absolute;
  top: 53px;
  left: 0;
  bottom: 0;
  width: 277px;
  overflow: auto;

  .list-name{
    margin: 20px 12px;
  }
  .list{
    margin: -10px 0 30px;
    overflow: hidden;
    font-size: 16px;

    >li{
      >a{
        @include inline-block;
        width: 90%;
        padding: 10px 12px;

        &:hover{
          background-color: $color-theme-blue;
          color: #fff;
        }
      }
      .cur-widget{
        background-color: $color-theme-blue;
        color: #fff;
      }
    }
  }
}

.l-main{
  position: absolute;
  left: 277px;
  right: 0;
  top: 80px;
  bottom: 0;
  overflow: hidden;
}

.oniui-content, iframe{
  width: 100%;
  height: 100%;
  border: 0 none;
}