@import "../../../chameleon/compass/css3";

$font-stack: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

$color-normal: #212121;
$color-title: #212121;
$color-header-bg: #2c2f34;
$color-theme-blue: #1489e6;
$color-border-grey: #e5e9f2;

$font-normal: 14px;
$font-large: 16px;

$border-radiaus-btn: 5px;

/*
* reset
*
*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  position: relative;
  height: 100%;
  color: $color-normal;
  font-size: $font-normal;
  font-family: $font-stack;
}
ul,ol{
  list-style: none;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: $color-normal;
}
h1,h2,h3,h4,h5{
  color: $color-title;
  font-size: $font-large;
}
.ms-controller, .ms-important{
  visibility: hidden;
}

/*
* custom classes
*
*/
.overdot{
  @include inline-block;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow:hidden;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
