/*
* reset
*
*/
html, body, div, p, ul, ol, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  color: #212121;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; }

ul, ol {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #212121; }

h1, h2, h3, h4, h5 {
  color: #212121;
  font-size: 16px; }

.ms-controller, .ms-important {
  visibility: hidden; }

/*
* custom classes
*
*/
.overdot {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden; }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#uxiconfont") format("svg");
  /* iOS 4.1- */ }
