@import "base";
@import "download";

body{
  background-color: #f9fafe;
}

/*
* layout
*
*/
.l-header{
  background-color: $color-header-bg;
  color: #fff;
  min-width: 980px;

  .oniicon{
    vertical-align: middle;
  }

  .container{
    height: 80px;
    line-height: 80px;
    padding: 0 12px;

    .nav{
      @include inline-block;

      .nav-list{
        margin: -5px 0 0 140px;

        .nav-item{
          @include inline-block;
          margin: 0 10px 0 0;

          .nav-link{
            @include inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: center;
            border-radius: $border-radiaus-btn;
            border: 1px #383d50 solid;
          }
        }

        .active{
          .nav-link{
            background-color: $color-theme-blue;
          }
        }
      }
    }
  }
}


.oni-layout-search-bar{
  border-bottom: 1px $color-border-grey solid;

  .search-section{
    width: 276px;
    padding: 10px 0px;
    border-right: 1px $color-border-grey solid;

    .search-wrap{
      margin: 0 13px;
      border: 1px #e5e9f2 solid;
      background-color: #fff;
      font-size: 0;

      .search-input{
        width: 212px;
        padding: 0 0 0 10px;
        line-height: 30px;
        vertical-align: middle;
        font-size: 14px;
        border: none;
        outline: none;
      }
      .icon-search{
        @include inline-block;
        width: 25px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 18px;
        color: #2a2d33;
        cursor: pointer;
      }
    }
  }
}

.oni-layout-main-container{
  position: absolute;
  top: 133px;
  left: 0;
  right: 0;
  bottom: 0;

  .aside{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 276px;
    float: left;
    border-right: 1px $color-border-grey solid;
  }
}


.list-wrap{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 277px;
  overflow: auto;
  font-size: 16px;

  .list-item{
    padding: 10px 12px;
    cursor: pointer;

    &:hover{
      background-color: $color-theme-blue;
      color: #fff;

      .iconfont{
        color: #fff;
      }
    }
  }

  .icon-arrow{
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: #5c5f67;
  }

  .backto-menu{
    position: relative;
    padding-left: 30px;
    border-bottom: 1px $color-border-grey solid;

    .icon-arrow{
      position: absolute;
      left: 5px;
      top: 0;
    }
  }

  .current-widget{
    position: relative;
    border-bottom: 1px $color-border-grey solid;

    .icon-arrow{
      position: absolute;
      right: 2px;
      top: 0;
      color: #5c5f67;
    }
  }

  .list-name{
    margin: 20px 12px;
  }
  .list{
    margin: -10px 0 30px;
    overflow: hidden;

    >li{
      >a{
        @include inline-block;
        width: 247px;
      }
      .active-dir{
        background-color: $color-theme-blue;
        color: #fff;
      }
    }
  }
}

.l-main{
  position: absolute;
  left: 277px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.oniui-content, iframe{
  width: 100%;
  height: 100%;
  border: 0 none;
}