@import "base";
@import "download";

body{
  background-color: #f9fafe;
}

/*
* layout
*
*/
.oni-layout-header{
  background-color: $color-header-bg;
  color: #fff;
  min-width: 980px;

  .oniicon{
    vertical-align: middle;
  }

  .container{
    height: 80px;
    line-height: 80px;
    padding: 0 12px;

    .nav{
      @include inline-block;

      .nav-list{
        margin: -5px 0 0 140px;

        .nav-item{
          @include inline-block;
          margin: 0 10px 0 0;

          .nav-link{
            @include inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: center;
            border-radius: $border-radiaus-btn;
            border: 1px #383d50 solid;
          }
        }

        .active{
          .nav-link{
            background-color: $color-theme-blue;
          }
        }
      }
    }
  }
}


.oni-layout-search-bar{
  border-bottom: 1px $color-border-grey solid;

  .search-section{
    width: 276px;
    padding: 10px 0px;
    border-right: 1px $color-border-grey solid;

    .search-wrap{
      margin: 0 13px;
      border: 1px #e5e9f2 solid;
      background-color: #fff;
      font-size: 0;

      .search-input{
        width: 212px;
        padding: 0 0 0 10px;
        line-height: 30px;
        vertical-align: middle;
        font-size: 14px;
        border: none;
        outline: none;
      }
      .icon-search{
        @include inline-block;
        width: 25px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 18px;
        color: #2a2d33;
        cursor: pointer;
      }
    }
  }
}

.oni-layout-main-container{
  position: absolute;
  top: 133px;
  left: 0;
  right: 0;
  bottom: 0;

  .aside{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 276px;
    border-right: 1px $color-border-grey solid;
    font-size: 16px;
    overflow: auto;

    .list {
      margin: -10px 0 30px;
      overflow: hidden;
    }
    .list-name{
      margin: 20px 12px;
    }
    .list-item{
      .list-item-link{
        @include inline-block;
        padding: 0 12px;
        width: 235px;
        height: 44px;
        line-height: 44px;
        cursor: pointer;
      }
    }

    .active-dir, .list-item:hover{
      background-color: $color-theme-blue;
      color: #fff;

      >a{
        color: #fff;
      }

      .iconfont{
        color: #fff;
      }
    }

    .icon-arrow{
      height: 45px;
      line-height: 45px;
      font-size: 20px;
      color: #5c5f67;
    }

    .backto-menu{
      position: relative;
      max-width: 100%;
      padding-left: 30px;
      overflow: hidden;
      border-bottom: 1px $color-border-grey solid;

      .icon-arrow{
        position: absolute;
        left: 5px;
        top: 0;
      }
    }

    .current-widget{
      position: relative;
      border-bottom: 1px $color-border-grey solid;

      .icon-arrow{
        position: absolute;
        right: 2px;
        top: 0;
        color: #5c5f67;
      }
    }

  }
}

.oni-layout-main{
  position: absolute;
  left: 277px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;

  iframe{
    width: 100%;
    height: 100%;
    border: 0 none;
  }

  .api-content-wrap{
    height: 100%;
    overflow: auto;
    background-color: #fff;

    .api-content{
      position: relative;
      padding: 40px 60px;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 12px;
        border-color: $color-theme-blue transparent transparent $color-theme-blue;
        border-style: solid;
      }

      p, fieldset{
        position: relative;
        max-width: 100%;
        margin: 80px 0 0;
        padding: 30px;
        background-color: #f9fafe;
        border: 1px $color-border-grey solid;

        >legend{
          position: absolute;
          top: -50px;
          left: 0;
          padding: 0 0 0 10px;
          font-size: 18px;
          border-left: 4px $color-theme-blue solid;
        }
      }

      p{
        margin: 10px 0;
      }

      .table-doc{
        width: 100%;
        margin: 0 0 30px;
        border: 1px $color-border-grey solid;
        border-collapse: collapse;
        background-color: #fff;

        th,td{
          padding: 20px;
          border: 1px $color-border-grey solid;
          word-break: break-all;
        }

        th{
          font-weight: normal;
          background-color: #2c2f34;
          color: #fff
        }

        td{
          border-width: 1px 0;
          vertical-align: top;
        }
      }

      dt{
        margin: 40px 0 0;
        padding: 0 0 0 10px;
        font-size: 18px;
        border-left: 4px $color-theme-blue solid;
      }
      dd, blockquote{
        margin: 10px 0;
        padding: 30px;
        background-color: #f9fafe;
        border: 1px $color-border-grey solid;
      }
      ul, ol{
        >li{
          background-color: #fff;
          border: 1px $color-border-grey solid;
          padding: 5px;
          margin: 5px 0;
        }
      }

      a{
        color: $color-theme-blue;
      }

      button{
        @include inline-block;
        height: 32px;
        line-height: 30px;
        padding: 0px 15px;
        border: 1px #aaa solid;
        font-size: 14px;
        border-radius: 3px;
        color: #555;
        background-color: #fff;
        outline: none;
        cursor: pointer;

        &:hover{
          color: #111;
          border-color: #666;
        }
      }

      input{
        @include inline-block;
        height: 32px;
        padding: 0 5px;
        line-height: 30px;
        border: 1px #aaa solid;
        font-size: 14px;
        outline: none;
        border-radius: 3px;
        color: #555;
        background-color: #fff;

        &[disabled], &[readonly]{
          background-color: #ccc;
        }
        &[type="submit"]{
          padding: 0px 15px;
          cursor: pointer;

          &:hover{
            color: #111;
            border-color: #666;
          }
        }
      }
    }
  }
}