@charset "UTF-8";
.ui-at {
  font: normal 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif; }

/*
这是每个都组件都应该引用的部分
*/
.ui-at {
  min-width: 150px;
  width: auto !important;
  width: 150px;
  background: #fff;
  border: 2px solid #d4d4d4; }
  .ui-at .ui-at-popup {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .ui-at .ui-at-item {
    margin: 0px;
    padding: 0px;
    height: 24px;
    line-height: 24px;
    text-indent: 5px; }
    .ui-at .ui-at-item.ui-state-hover {
      background: #3775c0;
      color: white; }
