@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
/* line 3, ../sass/avalon.lightbox.scss */
.lightboxOverlay {
  background-color: #000;
  position: absolute;
  z-index: 12;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  zoom: 1;
  -webkit-transition: opacity 1s false;
  -moz-transition: opacity 1s false false;
  -o-transition: opacity 1s false false;
  transition: opacity 1s;
}

/* line 15, ../sass/avalon.lightbox.scss */
.lightbox {
  position: absolute;
  z-index: 12;
  width: 100%;
}

/* line 20, ../sass/avalon.lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
}
/* line 22, ../sass/avalon.lightbox.scss */
.lb-dataContainer .lb-data {
  padding: 0 3px;
  color: #ccc;
  overflow: hidden;
}
/* line 26, ../sass/avalon.lightbox.scss */
.lb-dataContainer .lb-data .lb-details {
  float: left;
}
/* line 28, ../sass/avalon.lightbox.scss */
.lb-dataContainer .lb-data .lb-details .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  padding: 1px;
}
/* line 34, ../sass/avalon.lightbox.scss */
.lb-dataContainer .lb-data .lb-details .lb-number {
  display: block;
  clear: left;
  padding: 2px;
  font-size: 12px;
  color: #999999;
}
/* line 42, ../sass/avalon.lightbox.scss */
.lb-dataContainer .lb-data .lb-closeContainer {
  float: right;
  cursor: pointer;
}

/* line 49, ../sass/avalon.lightbox.scss */
.lb-outerContainer {
  margin: 0 auto;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: width 1s false, height 1s false;
  -moz-transition: width 1s false false, height 1s false false;
  -o-transition: width 1s false false, height 1s false false;
  transition: width 1s, height 1s;
  position: relative;
}
/* line 55, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container {
  padding: 4px;
}
/* line 57, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-loader {
  z-index: 16;
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
/* line 66, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-loader .lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}
/* line 75, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-image {
  -webkit-transition: opacity 2s false;
  -moz-transition: opacity 2s false false;
  -o-transition: opacity 2s false false;
  transition: opacity 2s;
  z-index: 14;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 82, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container.hover .lb-nav {
  opacity: 1;
}
/* line 86, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow: hidden;
}
/* line 95, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav .lb-prev {
  display: block;
  opacity: 0;
  width: 40%;
  float: left;
  height: 100%;
  overflow: hidden;
  background: url(../img/prev.png) left 48% no-repeat;
}
/* line 97, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav .lb-prev:hover {
  cursor: pointer;
}
/* line 106, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav .lb-prev.hover-prev {
  opacity: 1;
}
/* line 110, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav .lb-next {
  display: block;
  opacity: 0;
  width: 60%;
  float: right;
  height: 100%;
  overflow: hidden;
  background: url(../img/next.png) right 48% no-repeat;
}
/* line 111, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav .lb-next:hover {
  cursor: pointer;
}
/* line 121, ../sass/avalon.lightbox.scss */
.lb-outerContainer .lb-container .lb-nav .lb-next.hover-next {
  opacity: 1;
}
