
@import "compass/css3";
@import "compass/config";
@import "compass/tools";
@import "compass/layout";
%oniui-font-setting{
    font: normal 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}


/*
这是每个都组件都应该引用的部分
*/

