@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "oni-dropdownlist";
.#{$uiname} {
    display: inline-block;
    *display: inline;
    _display: inline;
    zoom: 1;
    position: relative;
    .oni-textbox {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        _width: expression(parseInt(this.parentNode.offsetWidth) - 12);
        zoom: 1;
    }
    .oni-textbox-focus {
        border: 1px solid #ccc;
        .oni-textbox-icon {
            color: #3775c0;
        }
    }
}
.#{$uiname}-search {
    position: relative;
    display: block;
}
.#{$uiname}-input {
    display: block; 
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    width: 200px;
    border: 1px solid #cccccc;
    position: relative;
}
.#{$uiname}-icon-wrap, .oni-textbox-icon {
    position: absolute;
    right: 6px;
    top: 3px;
}
.#{$uiname}-input-hover {
    border: 1px solid #999999
}
.#{$uiname}-input-focus {
    border: 1px solid #3775c0;
    border-bottom-color: #cccccc;
}



