@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-notice-flow { margin-bottom: 10px; }

.ui-notice-detach { position: relative; width: 100%; z-index: 1000; }

.ui-notice-detach .ui-notice { position: absolute; }

.ui-notice { display: none; width: 100%; *zoom: 1; font-size: 12px; background-color: #ffe44f; color: #a65a00; }
.ui-notice .ui-notice-inner { padding: 7px 10px; }
.ui-notice .ui-notice-inner .ui-notice-header { font-weight: 700; }
.ui-notice .ui-notice-inner .ui-notice-content .ui-notice-close { cursor: pointer; text-decoration: underline; }
.ui-notice.ui-notice-info { background-color: #58b359; color: #ffffff; }
.ui-notice.ui-notice-danger { background-color: #bb0000; color: #ffffff; }
