@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.oni-notice-flow {
  margin-bottom: 10px; }

.oni-notice-detach {
  position: relative;
  width: 100%;
  z-index: 1000; }

.oni-notice-detach .oni-notice {
  position: absolute; }

.oni-notice {
  display: none;
  width: 100%;
  *zoom: 1;
  font-size: 12px;
  background-color: #ffe44f;
  color: #a65a00; }
  .oni-notice .oni-notice-inner {
    padding: 7px 10px; }
    .oni-notice .oni-notice-inner .oni-notice-header {
      font-weight: 700; }
    .oni-notice .oni-notice-inner .oni-notice-content .oni-notice-close {
      cursor: pointer;
      text-decoration: underline; }
  .oni-notice.oni-notice-info {
    background-color: #58b359;
    color: #ffffff; }
  .oni-notice.oni-notice-danger {
    background-color: #bb0000;
    color: #ffffff; }
