@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.oni-carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
  height: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .oni-carousel .oni-carousel-panel {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    .oni-carousel .oni-carousel-panel .oni-carousel-item {
      position: relative;
      height: 100%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      overflow: hidden;
      text-align: center;
      background-color: #fff; }
      .oni-carousel .oni-carousel-panel .oni-carousel-item .oni-img-origin {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: static\0;
        transform: translate(0, 0) \0;
        *top: 0;
        *left: 0; }
      .oni-carousel .oni-carousel-panel .oni-carousel-item .oni-img-placeholder {
        _display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px; }
      .oni-carousel .oni-carousel-panel .oni-carousel-item .oni-carousel-link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;}
  .oni-carousel .oni-carousel-selection-wrap {
    position: absolute;
    z-index: 20;
    bottom: 4%;
    left: 50%; }
    .oni-carousel .oni-carousel-selection-wrap a {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: white;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
      opacity: 0.6;
      border-radius: 50%;
      cursor: pointer; }
    .oni-carousel .oni-carousel-selection-wrap .selected {
      background-color: #00a3c2; }
  .oni-carousel .oni-carousel-selection-wrap-keep-right {
    left: initial;
    right: 3%; }
  .oni-carousel .oni-carousel-description-wrap {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text; }
    .oni-carousel .oni-carousel-description-wrap .oni-carousel-description {
      padding: 8px 12px; }
  .oni-carousel .oni-carousel-arrow {
    position: absolute;
    z-index: 20;
    top: 50%;
    margin: -15px 0 0 0;
    cursor: pointer; }
  .oni-carousel .oni-carousel-prev {
    left: 5%; }
  .oni-carousel .oni-carousel-after {
    right: 5%; }

/*# sourceMappingURL=avalon.carousel.css.map */
