@charset "utf-8";
@import "../chameleon/oniui-theme";
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}
$uiname : "ui-carousel";
@if($oinui-theme == smoothness) {
	$carousel: (
		bg: #fff,
		borderColor:#aaaaaa
	) !global
}

.#{$uiname} {
	// current style
	// means #{$uiname}-bar
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	-moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
	.#{$uiname}-panel {
		position: absolute;
		top: 0;
		left: 0;

		.#{$uiname}-item {
			@include inline-block();
			overflow: hidden;
			// border: 1px solid map-get($carousel, borderColor);
		}
	}
	.#{$uiname}-selection-wrap{
		position: absolute;
		bottom: 7%;
		left: 50%;
		a{
			@include inline-block();
			width: 10px;
			height: 10px;
			margin: 0 5px;
			background-color: rgb(255,255,255);
			background-color: rgba(255,255,255,0.6);
			border-radius: 50%;
			cursor: pointer;
		}
		.selected{
			background-color: #00a3c2;
		}
		
	}
	.arrow{
		position: absolute;
		top:50%;
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: -15px 0 0 -15px;
		border-radius: 50%;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.6);
		color: #fff;
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		cursor: pointer;
	}
	.prev{
		left: 7%;
	}
	.after{
		left: 93%;
	}
}
