<div class="oni-layout-download">
    <div class="wrap">
        <img class="avatar" src="pages/index/imgs/oniicon_round.png" />
        <div class="intro-wrap">
            <div>OniUI仓库</div>
            <a class="link" href="https://github.com/RubyLouvre/avalon.oniui">
                立即前往
                <img src="pages/index/imgs/arrow_right_double.png">
            </a>
        </div>
    </div>
    <div class="wrap">
        <img class="avatar" src="pages/index/imgs/avalonicon_round.png" />
        <div class="intro-wrap">
            <div>avalon仓库</div>
            <a class="link" href="https://github.com/RubyLouvre/avalon">
                立即前往
                <img src="pages/index/imgs/arrow_right_double.png">
            </a>
        </div>
    </div>
</div>