@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
v\:* {
  behavior: url(#default#VML); }

div.ui-flipswitch {
  border: none;
  background-color: transparent; }
  div.ui-flipswitch label, div.ui-flipswitch span {
    cursor: pointer;
    margin: 0;
    top: 0;
    left: 0;
    position: relative; }

.ui-flipswitch {
  position: relative;
  z-index: 10;
  height: 100%;
  top: 0;
  overflow: hidden;
  text-align: center;
  border: none;
  background: none; }
  .ui-flipswitch-modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background: #fff;
    filter: alpha(opacity=40); }
  .ui-flipswitch-normal {
    width: 48px;
    height: 28px; }
  .ui-flipswitch-mini {
    width: 28px;
    height: 16px; }
  .ui-flipswitch-small {
    width: 36px;
    height: 22px; }
  .ui-flipswitch-large {
    width: 76px;
    height: 42px; }
  .ui-flipswitch-bar {
    position: absolute;
    z-index: 10;
    width: 150%;
    left: 0; }
  .ui-flipswitch-animate {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s; }
  .ui-flipswitch-left, .ui-flipswitch-right {
    width: 33%;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .ui-flipswitch-right {
    color: #9b9b9b; }
  .ui-flipswitch-dragger {
    width: 34%; }
    .ui-flipswitch-dragger-ball {
      width: 24px;
      height: 24px;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -10px;
      position: absolute; }
      .ui-flipswitch-dragger-ball-unchecked {
        margin-left: -12px; }
  .ui-flipswitch-on {
    display: none; }
  .ui-flipswitch-large .ui-flipswitch-dragger-ball {
    height: 38px;
    width: 38px;
    margin-left: -20px;
    margin-top: -17px; }
    .ui-flipswitch-large .ui-flipswitch-dragger-ball-unchecked {
      margin-left: -20px; }
  .ui-flipswitch-mini .ui-flipswitch-dragger-ball {
    height: 14px;
    width: 14px;
    margin-left: -8px;
    margin-top: -6px; }
    .ui-flipswitch-mini .ui-flipswitch-dragger-ball-unchecked {
      margin-left: -8px; }
  .ui-flipswitch-small .ui-flipswitch-dragger-ball {
    height: 18px;
    width: 18px;
    margin-left: -10px;
    margin-top: -7px; }
    .ui-flipswitch-small .ui-flipswitch-dragger-ball-unchecked {
      margin-left: -10px; }
  .ui-flipswitch-left, .ui-flipswitch-right, .ui-flipswitch-dragger {
    float: left;
    display: inline;
    height: 24px;
    line-height: 24px;
    font-weight: bolder; }
  .ui-flipswitch-mini .ui-flipswitch-left, .ui-flipswitch-mini .ui-flipswitch-right, .ui-flipswitch-mini .ui-flipswitch-dragger {
    height: 14px;
    line-height: 14px;
    font-size: 14px; }
  .ui-flipswitch-small .ui-flipswitch-left, .ui-flipswitch-small .ui-flipswitch-right, .ui-flipswitch-small .ui-flipswitch-dragger {
    height: 18px;
    line-height: 18px;
    font-size: 18px; }
  .ui-flipswitch-large .ui-flipswitch-left, .ui-flipswitch-large .ui-flipswitch-right, .ui-flipswitch-large .ui-flipswitch-dragger {
    height: 38px;
    line-height: 38px;
    font-size: 38px; }
  .ui-flipswitch-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .ui-flipswitch-use-no-img .ui-flipswitch-ico {
    background-image: none; }
  .ui-flipswitch-use-no-img .ui-flipswitch-bg {
    border-radius: 14px;
    background-color: #68c969; }
  .ui-flipswitch-use-no-img .ui-flipswitch-dragger-ball {
    background: white;
    border-radius: 12px; }
  .ui-flipswitch-use-no-img.ui-flipswitch-mini .ui-flipswitch-bg {
    border-radius: 8px; }
  .ui-flipswitch-use-no-img.ui-flipswitch-mini .ui-flipswitch-dragger-ball {
    border-radius: 7px; }
  .ui-flipswitch-use-no-img.ui-flipswitch-small .ui-flipswitch-bg {
    border-radius: 11px; }
  .ui-flipswitch-use-no-img.ui-flipswitch-small .ui-flipswitch-dragger-ball {
    border-radius: 9px; }
  .ui-flipswitch-use-no-img.ui-flipswitch-large .ui-flipswitch-bg {
    border-radius: 21px; }
  .ui-flipswitch-use-no-img.ui-flipswitch-large .ui-flipswitch-dragger-ball {
    border-radius: 19px; }
  .ui-flipswitch-use-no-img .ui-flipswitch-uckbg {
    background-color: #999999; }

.ui-state-disabled .ui-flipswitch-oval-hd, .ui-state-hover .ui-flipswitch-oval-hd {
  display: block; }
.ui-state-disabled .ui-flipswitch-oval-n, .ui-state-hover .ui-flipswitch-oval-n {
  display: none; }

.ui-state-disabled .ui-flipswitch-bar label, .ui-state-disabled .ui-flipswitch-bar span {
  cursor: default;
  color: white; }
.ui-state-disabled .ui-flipswitch-oval-hd {
  display: block; }
.ui-state-disabled .ui-flipswitchoval-n {
  display: none; }
