## mmRouter - 关键词
#### √ router
---------------------------------------

> Router is used for deep-linking URLs to controllers and views (HTML partials)

	// examples
	avalon.router.get("/index", function() {...})
	avalon.router.get("/user", function() {...})

such as angular ng $router, backbone

#### √ state machine
---------------------------------------

> Conceived as an abstract machine that can be in one of a finite number of states. The machine is in only one state at a time; the state it is in at any given time is called the current state. It can change from one state to another when initiated by a triggering event or condition; this is called a transition. A particular FSM is defined by a list of its states, and the triggering condition for each transition.

![statemachine](./ppt/img/statemachine.jpg)

