## About

#### √ 关于我

---------

+ 07级HUSTER，关山口职业技术学院
+ 08年接触前端，那个时候叫美工
+ 毕业后在百度、搜狗工作一段时间，技术和业务
+ 网页APP、广告投放统计系统
+ 统计、热力图、用户行为分析、模板引擎
+ nodejs,phantom...

#### √ 做过的工作-转正前

---------

+ 负责tab,progressbar,scrollbar,menu等组件的设计开发，基于规范实现了一个组件开发工具
+ 支援业务项目，负责XXX ui组件升级接口
+ 给avalon贡献代码
+ 在项目中总结思考工程化等相关问题

#### √ 做过的工作-转正后

---------

##### 组件

+ mmRouter-基于状态机的路由器
+ oniui tree 树组件
+ 同样基于插件机制，设计完成了weAPI微信分享以及其他功能的js，方便后续的扩展维护，并采用了链式状态调用，提供了jQuery链式调用的良好体验，已经投入到无线的一些业务中使用
+ 基于avalon mobile完成了支持shake、pinch、rotate等事件的touch组件

##### 工具

+ avalon sublime 3 插件
+ 基于node-webkit开发的fekit gui
+ oniui tool gui
+ sublime 3集成oniui的编译功能，减去编辑器和命令行间切换的时间耗费
+ node velocity server

##### 业务支持

+ 支持了xxx, xx, x的业务工作
+ 优化和解决smartgrid、adapter的一些性能和使用问题

##### 分享

+ avalon分享 for mobile
+ node velocity的探索性分享
+ tooltip等组件的使用分享
+ weAPI的推介使用分享

##### 积淀

+ gui
+ 模块化插件化
+ 集成，环境、编辑器
+ 使用者角度替代开发者角度
+ 开源项目