@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-buttonset { font-size: 0; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; _display: inline; }
.ui-buttonset .ui-button { margin: 0; float: left; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; border-left-width: 0; }
.ui-buttonset .ui-button-first { border-left-width: 1px; }

.ui-buttonset-vertical { _width: 100px; }
.ui-buttonset-vertical .ui-button { display: block; float: none; border-left-width: 1px; border-top-width: 0; }
.ui-buttonset-vertical .ui-button-first { border-top-width: 1px; }

.ui-button { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; _display: inline; padding: 0 10px; margin: 0; font-size: 12px; border: 1px solid transparent; text-align: center; vertical-align: middle; cursor: pointer; color: #333; text-decoration: none; outline: 0; height: 26px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui-button:link { text-decoration: none; }
.ui-button.ui-state-default { border-color: #ccc; background-color: #f8f8f8; }
.ui-button:hover { background-color: #f5f5f5; border-color: #d9d9d9; }
.ui-button.ui-state-active, .ui-button:active { background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
.ui-button.ui-state-disabled, .ui-button[disabled] { background-color: #f8f8f8; border-color: #d9d9d9; color: #cccccc; }
.ui-button.ui-button-primary { background-color: #3775c0; border-color: #1d5eac; color: #ffffff; }
.ui-button.ui-button-primary:hover { background-color: #3d8be9; border-color: #1a5092; }
.ui-button.ui-button-primary.ui-state-disabled { background-color: #428bca; color: #357ebd; color: #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.ui-button.ui-button-warning { background-color: #f0ad4e; border-color: #eea236; color: #ffffff; }
.ui-button.ui-button-warning:hover { background-color: #ec971f; border-color: #d58512; }
.ui-button.ui-button-warning.ui-state-disabled { background-color: #f0ad4e; border-color: #eea236; color: #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.ui-button.ui-button-danger { background-color: #d9534f; border-color: #d43f3a; color: #ffffff; }
.ui-button.ui-button-danger:hover { background-color: #c9302c; border-color: #ac2925; }
.ui-button.ui-button-danger.ui-state-disabled { background-color: #d9534f; border-color: #d43f3a; color: #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.ui-button.ui-button-success { background-color: #58b359; border-color: #45a846; color: #ffffff; }
.ui-button.ui-button-success:hover { background-color: #68c969; border-color: #3e973e; }
.ui-button.ui-button-success.ui-state-disabled { background-color: #5cb85c; border-color: #4cae4c; color: #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.ui-button.ui-button-info { background-color: #5bc0de; border-color: #46b8da; color: #ffffff; }
.ui-button.ui-button-info:hover { background-color: #31b0d5; border-color: #269abc; }
.ui-button.ui-button-info.ui-state-disabled { background-color: #5bc0de; border-color: #46b8da; color: #ffffff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.ui-button.ui-button-inverse { background-color: #333; border-color: #222; color: #ffffff; }
.ui-button.ui-button-inverse:hover { background-color: #222; border-color: #000; }
.ui-button.ui-button-inverse.ui-state-disabled { background-color: #333; border-color: #222; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.ui-button.ui-corner-all { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.ui-button.ui-corner-left { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-button.ui-corner-right { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-button.ui-corner-top { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-button.ui-corner-bottom { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-button .ui-icon { font-size: 12px; overflow: hidden; line-height: 24px; height: 24px; *margin-top: -2px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; _display: inline; }
.ui-button .ui-button-text { font-size: 12px; line-height: 24px; height: 24px; word-break: keep-all; white-space: nowrap; *margin-top: -2px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; _display: inline; }
.ui-button .ui-button-text.ui-button-text-hidden { display: none; }
.ui-button .ui-button-text.ui-button-text-left { padding-right: 5px; }
.ui-button .ui-button-text.ui-button-text-right { padding-left: 5px; }
.ui-button .ui-button-text.ui-button-text-middle { padding-left: 5px; padding-right: 5px; }

.ui-button-small { padding: 0 5px; height: 22px; }
.ui-button-small .ui-icon { font-size: 12px; line-height: 20px; height: 20px; }
.ui-button-small .ui-button-text { font-size: 12px; line-height: 20px; height: 20px; }

.ui-button-big { font-size: 14px; padding: 0 15px; height: 32px; }
.ui-button-big .ui-icon { font-size: 14px; line-height: 30px; height: 30px; }
.ui-button-big .ui-button-text { font-size: 14px; line-height: 30px; height: 30px; }

.ui-button-large { padding: 0 25px; height: 40px; }
.ui-button-large .ui-icon { font-size: 14px; line-height: 38px; height: 38px; }
.ui-button-large .ui-button-text { font-size: 14px; line-height: 38px; height: 38px; }
