@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname : ".ui-tooltip";

.ui-tooltip-hidden{
	visibility: hidden;
}

#{$uiname} {
	// current style
	padding: 10px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	font-size: 12px;
	overflow: visible;
	background: #FFE44F;
	border-color: #FFC805;
	color: #A65A00;
	border-radius: 0 0 0 0;
	a{
		color: #A65A00;
	}
	.in, .out{
	    font-family: simsun;
	    font-size: 0;
	    line-height: 0;
	    height: 0;
	    overflow: visible;
	    position: absolute;
	    width: 0;
	}
	&-top {
		.in{
			border-style: dashed dashed solid;
			border-color: transparent transparent #FFE44F;
		    border-width: 0 4px 5px;
		    left: 29px;
		    top: -5px;
		}	
		.out{
			border-style: dashed dashed solid;
			border-color: transparent transparent #FFC805;
		    border-width: 0 5px 6px;
		    left: 28px;
		    top: -6px;
		}
	}
	&-right{
		.in{
			border-style: dashed dashed dashed solid;
		    border-color: transparent transparent transparent #FFE44F;
		    border-width: 5px 0 4px 4px;
		    right: -4px;
		    top: 29px;
		}
		.out{
			border-style: dashed dashed dashed solid;
		    border-color: transparent transparent transparent #FFC805;
		    border-width: 6px 0 5px 5px;
		    right: -5px;
		    top: 28px;
		}
	}
	&-bottom{
		.in{
			border-style: solid dashed dashed;
		    border-color: #FFE44F transparent transparent;
		    border-width: 5px 4px 0;
		    bottom: -5px;
		    left: 29px;
		    top: auto;
		}
		.out{
			border-style: solid dashed dashed;
			border-color: #FFC805 transparent transparent;
		    border-width: 6px 5px 0;
		    bottom: -6px;
		    left: 28px;
		    top: auto;
		}
	}
	&-left{
		.in{
			border-style: dashed solid dashed dashed;
			border-color: transparent #FFE44F transparent transparent;
		    border-width: 4px 5px 4px 0;
		    left: -4px;
		    top: 29px;
		}
		.out{
			border-style: dashed solid dashed dashed;
		    border-color: transparent #FFC805 transparent transparent;
		    border-width: 5px 6px 5px 0;
		    left: -5px;
		    top: 28px;
		}
	}
}