.clrfix {
  zoom: 1; }
  .clrfix:before, .clrfix:after {
    content: '';
    display: block; }
  .clrfix:after {
    clear: both; }

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 100%;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

/*corner css*/
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 4px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 4px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 4px; }

/*state css*/
.ui-state-default {
  color: #333;
  background-color: #f8f8f8;
  border: 1px solid #cccccc; }
  .ui-state-default a {
    color: #333;
    text-decoration: none; }

.ui-state-hover {
  background: #fff; }
  .ui-state-hover a {
    text-decoration: none; }
    .ui-state-hover a:hover {
      text-decoration: none; }

.ui-state-active {
  background: #fff; }

.ui-state-disabled {
  color: #aaa;
  cursor: default; }
  .ui-state-disabled a {
    color: #aaa;
    cursor: default; }

/*content*/
.ui-widget-content {
  background-color: #f8f8f8;
  border: 1px solid #cccccc; }

.ui-tooltip-hidden {
  visibility: hidden; }

.ui-tooltip {
  padding: 10px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  font-size: 12px;
  overflow: visible;
  background: #FFE44F;
  border-color: #FFC805;
  color: #A65A00;
  border-radius: 0 0 0 0; }
  .ui-tooltip a {
    color: #A65A00; }
  .ui-tooltip .in, .ui-tooltip .out {
    font-family: simsun;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: visible;
    position: absolute;
    width: 0; }
  .ui-tooltip-top .in {
    border-style: dashed dashed solid;
    border-color: transparent transparent #FFE44F;
    border-width: 0 4px 5px;
    left: 29px;
    top: -5px; }
  .ui-tooltip-top .out {
    border-style: dashed dashed solid;
    border-color: transparent transparent #FFC805;
    border-width: 0 5px 6px;
    left: 28px;
    top: -6px; }
  .ui-tooltip-right .in {
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #FFE44F;
    border-width: 5px 0 4px 4px;
    right: -4px;
    top: 29px; }
  .ui-tooltip-right .out {
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #FFC805;
    border-width: 6px 0 5px 5px;
    right: -5px;
    top: 28px; }
  .ui-tooltip-bottom .in {
    border-style: solid dashed dashed;
    border-color: #FFE44F transparent transparent;
    border-width: 5px 4px 0;
    bottom: -5px;
    left: 29px;
    top: auto; }
  .ui-tooltip-bottom .out {
    border-style: solid dashed dashed;
    border-color: #FFC805 transparent transparent;
    border-width: 6px 5px 0;
    bottom: -6px;
    left: 28px;
    top: auto; }
  .ui-tooltip-left .in {
    border-style: dashed solid dashed dashed;
    border-color: transparent #FFE44F transparent transparent;
    border-width: 4px 5px 4px 0;
    left: -4px;
    top: 29px; }
  .ui-tooltip-left .out {
    border-style: dashed solid dashed dashed;
    border-color: transparent #FFC805 transparent transparent;
    border-width: 5px 6px 5px 0;
    left: -5px;
    top: 28px; }
