@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-tooltip-hidden {
  visibility: hidden; }

div.ui-tooltip {
  padding: 10px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  overflow: visible;
  background: #ffe44f;
  border: 1px solid #ffc805;
  color: #a65a00;
  font-size: 12px;
  border-radius: 0 0 0 0; }
  div.ui-tooltip a, div.ui-tooltip a:link, div.ui-tooltip a:hover {
    color: #a65a00;
    cursor: pointer; }
  div.ui-tooltip .ui-tooltip-arrow-in, div.ui-tooltip .ui-tooltip-arrow-out {
    overflow: visible;
    position: absolute; }

.ui-tooltip-top .ui-tooltip-arrow-in {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 0 none;
  border-right: 4px dashed transparent;
  border-bottom: 5px solid #ffe44f;
  border-left: 4px dashed transparent;
  left: 29px;
  top: -5px; }
.ui-tooltip-top .ui-tooltip-arrow-out {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 0 none;
  border-right: 5px dashed transparent;
  border-bottom: 6px solid #ffc805;
  border-left: 5px dashed transparent;
  left: 28px;
  top: -6px; }
.ui-tooltip-right .ui-tooltip-arrow-in {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 4px dashed transparent;
  border-right: 0;
  border-bottom: 4px dashed transparent;
  border-left: 5px solid #ffe44f;
  right: -4px;
  top: 29px; }
.ui-tooltip-right .ui-tooltip-arrow-out {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 5px dashed transparent;
  border-right: 0;
  border-bottom: 5px dashed transparent;
  border-left: 6px solid #ffc805;
  left: auto;
  right: -5px;
  top: 28px; }
.ui-tooltip-bottom .ui-tooltip-arrow-in {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 5px solid #ffe44f;
  border-right: 4px dashed transparent;
  border-bottom: 0;
  border-left: 4px dashed transparent;
  bottom: -5px;
  left: 29px;
  top: auto; }
.ui-tooltip-bottom .ui-tooltip-arrow-out {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 6px solid #ffc805;
  border-right: 5px dashed transparent;
  border-bottom: 0;
  border-left: 5px dashed transparent;
  bottom: -6px;
  left: 28px;
  top: auto; }
.ui-tooltip-left .ui-tooltip-arrow-in {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 4px dashed transparent;
  border-right: 5px solid #ffe44f;
  border-bottom: 4px dashed transparent;
  border-left: 0;
  left: -4px;
  top: 29px; }
.ui-tooltip-left .ui-tooltip-arrow-out {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-top: 5px dashed transparent;
  border-right: 6px solid #ffc805;
  border-bottom: 5px dashed transparent;
  border-left: 0;
  left: -5px;
  top: 28px; }
