
@import "../chameleon/oniui-theme";
$uiname: "oni-coupledatepicker";
.oni-coupledatepicker {
    font-size: 0;
    position: relative;
    z-index: 1;
    .oni-coupledatepicker-item {
        @include inline-block();
    }
    .label {
        font-size: 12px;
        vertical-align: top;
        line-height: 26px;
        height: 26px;
        zoom: 1;
        background: #fff;
        color: #333;
        padding: 0;
        text-shadow: 0 0 0 rgba(0,0,0,0.1);
    }
}

