@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "ui-coupledatepicker";
.ui-coupledatepicker {
    font-size: 0;
    .ui-coupledatepicker-item {
        @include inline-block();
    }
    .label {
        font-size: 12px;
        vertical-align: top;
        line-height: 28px;
        height: 28px;
        zoom: 1;
    }
}

