@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-icon.ui-icon-calendar-o { padding: 0 6px; vertical-align: top; text-indent: 0; display: inline; }

.ui-datepicker-input-wrapper { background: #ffffff; border: 1px solid #cccccc; cursor: pointer; color: #333; font-size: 12px; position: relative; display: inline-block; *display: inline; zoom: 1; }
.ui-datepicker-input-wrapper input { border: 0 none; cursor: pointer; outline: none; padding: 3px 90px 3px 6px; width: 90px; height: 18px; margin: 0; font-size: 12px; }
.ui-datepicker-input-wrapper .ui-datepicker-tip { position: absolute; top: 3px; right: 0px; line-height: 18px; height: 18px; color: #b5b5b5; }
.ui-datepicker-input-wrapper.ui-state-active { border-color: #3775c0; border-bottom: 0; }

.ui-datepicker { position: relative; display: block; font-size: 0; white-space: nowrap; color: #333; z-index: 10; width: auto; }
.ui-datepicker tr, .ui-datepicker td, .ui-datepicker th { border: 0; }
.ui-datepicker .ui-icon { text-indent: 0; }
.ui-datepicker .ui-datepicker-wrapper { padding: 9px 0 9px 10px; border: 1px solid #cccccc; box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1); position: absolute; background: #fff; z-index: 1000; }
.ui-datepicker .ui-datepicker-content { border: 1px solid #e5e5e5; font-size: 12px; margin-right: 10px; background: #fff; }
.ui-datepicker .ui-datepicker-label { background-color: #f8f8f8; border-bottom: 1px solid #e5e5e5; font-weight: 700; padding: 7px 0; text-align: center; }
.ui-datepicker .ui-datepicker-content-content { padding: 0 10px; width: 196px; position: relative; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
.ui-datepicker .ui-datepicker-content-content .ui-datepicker-watermark { position: absolute; top: 60px; left: 10px; width: 196px; height: 150px; background: transparent; color: #000; _color: #f2f2f2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5); opacity: 0.05; font-size: 150px; line-height: 150px; text-align: center; }
.ui-datepicker .ui-datepicker-header { position: relative; height: 30px; line-height: 30px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { color: #3775c0; cursor: pointer; height: 30px; line-height: 30px; position: absolute; text-align: center; width: 20px; }
.ui-datepicker .ui-datepicker-prev-disabled, .ui-datepicker .ui-datepicker-next-disabled { color: #cccccc; cursor: default; }
.ui-datepicker .ui-datepicker-prev { left: 0; }
.ui-datepicker .ui-datepicker-next { right: 0; }
.ui-datepicker .ui-datepicker-title { color: #3775c0; font-weight: 700; text-align: center; }
.ui-datepicker .ui-datepicker-calendar-days { height: 150px; position: relative; z-index: 20; }
.ui-datepicker .ui-datepicker-calendar-week, .ui-datepicker .ui-datepicker-calendar-days { border-collapse: collapse; margin-bottom: 5px; table-layout: fixed; width: 100%; border-spacing: 0; }
.ui-datepicker .ui-datepicker-calendar-week th { border-bottom: 1px solid #efefef; border-top: 1px solid #efefef; padding: 3px 0; text-align: center; line-height: 18px; font-weight: 400; font-size: 12px; }
.ui-datepicker .ui-datepicker-week-end, .ui-datepicker .ui-datepicker-calendar-days .ui-datepicker-week-end { color: #ff5555; }
.ui-datepicker .ui-datepicker-calendar-days td { color: #333333; cursor: pointer; text-align: center; line-height: 18px; padding: 3px 0; background: transparent; }
.ui-datepicker .ui-state-default { background: #fff; }
.ui-datepicker .ui-datepicker-calendar-days .ui-datepicker-day-hover { background: #dbebff; }
.ui-datepicker .ui-datepicker-today { font-family: pmingliu, arial, sans-serif; font-size: 11px; }
@media screen and (-webkit-transform-2d: 1) { .ui-datepicker .ui-datepicker-today { /* font-size: 12px; */ -webkit-transform: scale(0.91667); } }
.ui-datepicker .ui-datepicker-day-none { cursor: auto; }
.ui-datepicker .ui-datepicker-calendar-days .ui-state-disabled { color: #cccccc; cursor: default; background: transparent; }
.ui-datepicker .ui-datepicker-calendar-days .ui-datepicker-selected { background: #3775c0; color: #fff; }
.ui-datepicker .ui-dropdown-source { margin-top: -2px; }
.ui-datepicker .ui-dropdown-source .ui-dropdown-input { padding: 0 21px 0 6px; line-height: 20px; height: 20px; }
.ui-datepicker .ui-dropdown-source .ui-dropdown-icon { top: -20px; line-height: 20px; }
.ui-datepicker.ui-datepicker-multiple .ui-datepicker-content { border-right: 0; }
.ui-datepicker.ui-datepicker-multiple .ui-datepicker-content-content { border-right: 1px solid #e5e5e5; }
.ui-datepicker .ui-dropdown-menu .ui-dropdown-item { color: #333333; font-size: 12px; padding: 0; text-indent: 0; text-align: center; }
.ui-datepicker .ui-dropdown-menu .ui-dropdown-item-hover { background: #f5f5f5; }
.ui-datepicker .ui-dropdown-menu .ui-dropdown-item-selected { background: #3775c0; }
.ui-datepicker .ui-dropdown-menu .ui-dropdown:hover .ui-dropdown-source { border-color: #3775c0; border-bottom-color: #cccccc; }
