@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.oni-datepicker {
  position: relative;
  display: block;
  font-size: 0;
  white-space: nowrap;
  color: #333;
  z-index: 10;
  width: auto;
  margin-left: -1px; }
  .oni-datepicker .oni-icon-calendar-o {
    padding: 0 6px;
    vertical-align: top;
    text-indent: 0;
    display: inline; }
  .oni-datepicker .oni-dropdown-source {
    margin-top: -2px;
    *margin-top: 0; }
    .oni-datepicker .oni-dropdown-source .oni-dropdown-input {
      padding: 0 21px 0 6px !important;
      line-height: 20px;
      height: 20px !important; }
    .oni-datepicker .oni-dropdown-source .oni-dropdown-icon {
      top: -20px;
      line-height: 20px; }

/*datepicker position start*/
.oni-datepicker-wrapper {
  padding: 9px 0 9px 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  background: #fff; }

.oni-datepicker-wrapper-right {
  right: -1px; }

.oni-datepicker-wrapper-top {
  bottom: 24px; }

.oni-datepicker-wrapper-top-right {
  bottom: 24px;
  right: -1px; }

/*datepicker position end*/
.oni-datepicker-content {
  border: 1px solid #e5e5e5;
  font-size: 12px;
  margin-right: 10px;
  background: #fff; }

.oni-datepicker-label {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 700;
  padding: 7px 0;
  text-align: center; }

.oni-datepicker-timer {
  border-top: 1px solid #efefef;
  padding: 5px 0; }
  .oni-datepicker-timer .oni-datepicker-time-title {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    *vertical-align: auto;
    width: 50px; }
  .oni-datepicker-timer .oni-datepicker-slide-wrap, .oni-datepicker-timer label {
    margin: 0; }
  .oni-datepicker-timer .oni-button-success {
    float: right; }

.oni-datepicker-content-content {
  padding: 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  *vertical-align: auto; }

.oni-datepicker-watermark {
  position: absolute;
  top: 60px;
  left: 10px;
  background: transparent;
  _background: #fff;
  color: #000;
  opacity: 0.05;
  filter: alpha(opacity=5);
  text-align: center; }

.oni-datepicker-month-year span {
  display: block;
  width: 23%;
  height: 42px;
  line-height: 42px;
  float: left;
  margin: 1%;
  cursor: pointer;
  text-align: center;
  _margin-left: -1px; }
.oni-datepicker-month-year .oni-datepicker-prev, .oni-datepicker-month-year .oni-datepicker-next {
  height: auto;
  line-height: auto;
  position: relative;
  width: auto; }
.oni-datepicker-month-year .oni-datepicker-day-hover {
  background: #dbebff; }
.oni-datepicker-month-year .oni-datepicker-selected {
  background: #3775c0;
  color: #fff; }
.oni-datepicker-month-year .oni-datepicker-prev-year, .oni-datepicker-month-year .oni-datepicker-next-year {
  color: #999; }
.oni-datepicker-month-year .oni-state-disabled {
  color: #ccc;
  cursor: default;
  background: transparent; }

.oni-datepicker-header {
  position: relative;
  height: 30px;
  line-height: 30px; }

.oni-datepicker .oni-datepicker-prev, .oni-datepicker .oni-datepicker-next {
  color: #3775c0;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 20px;
  z-index: 1; }

.oni-datepicker .oni-datepicker-prev {
  left: 0; }

.oni-datepicker .oni-datepicker-next {
  right: 0; }

.oni-datepicker .oni-datepicker-prev-disabled, .oni-datepicker .oni-datepicker-next-disabled {
  color: #ccc;
  cursor: default; }

.oni-datepicker-title {
  color: #3775c0;
  font-weight: 700;
  text-align: center; }

.oni-datepicker-calendar-week, .oni-datepicker-calendar-days {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 5px;
  width: 100%; }

.oni-datepicker-calendar-week th {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding: 3px 0;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  font-size: 12px; }

.oni-datepicker-calendar-days {
  height: 150px;
  position: relative;
  z-index: 20; }
  .oni-datepicker-calendar-days .oni-datepicker-default {
    color: #333;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
    padding: 3px 0; }
  .oni-datepicker-calendar-days .oni-datepicker-day-hover {
    background: #dbebff; }
  .oni-datepicker-calendar-days .oni-datepicker-week-end {
    color: #ff5555; }

.oni-datepicker-today {
  font-family: pmingliu, arial, sans-serif;
  font-size: 11px; }

.oni-datepicker-day-none {
  cursor: auto; }

.oni-datepicker-calendar-days .oni-datepicker-selected {
  background: #3775c0;
  color: #fff; }
.oni-datepicker-calendar-days .oni-state-disabled {
  color: #ccc;
  cursor: default;
  background: transparent; }

.oni-datepicker-multiple .oni-datepicker-content {
  border-right: 0; }
.oni-datepicker-multiple .oni-datepicker-content-content {
  border-right: 1px solid #e5e5e5; }

.oni-datepicker-dropdown .oni-dropdown-item {
  color: #333;
  font-size: 12px;
  padding: 0;
  text-indent: 0 !important;
  text-align: center; }
.oni-datepicker-dropdown .oni-dropdown-item-hover {
  background: #f5f5f5; }
.oni-datepicker-dropdown .oni-dropdown-item-selected {
  background: #3775c0; }
.oni-datepicker-dropdown .oni-dropdown:hover .oni-dropdown-source {
  border-color: #3775c0;
  border-bottom-color: #ccc; }

.oni-datepicker-input-wrapper {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  *vertical-align: auto; }
  .oni-datepicker-input-wrapper .oni-datepicker-input-position {
    position: relative;
    font-size: 0;
    line-height: 0; }
    .oni-datepicker-input-wrapper .oni-datepicker-input-position input {
      border: none;
      cursor: pointer;
      outline: none;
      padding: 3px 95px 3px 6px;
      width: 95px;
      height: 18px;
      line-height: 18px;
      font-size: 12px; }
    .oni-datepicker-input-wrapper .oni-datepicker-input-position .oni-datepicker-tip {
      position: absolute;
      top: 3px;
      right: 10px;
      line-height: 18px;
      height: 18px;
      color: #b5b5b5;
      font-size: 12px; }

.oni-datepicker-active {
  border-color: #3775c0 !important; }

.oni-datepicker-default .special-cell {
  color: #008000; }
.oni-datepicker-selected .special-cell {
  color: #fff; }
