@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-textbox { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; outline: medium none; font-size: 0; padding: 3px 5px; line-height: 18px; background-color: #FFFFFF; border: 1px solid #CCCCCC; }
.ui-textbox .ui-textbox-input-wrap { position: relative; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; line-height: 18px; }
.ui-textbox .ui-textbox-input-wrap span { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; height: 18px; line-height: 18px; font-size: 12px; margin: 0; padding: 0; cursor: pointer; }

.ui-timer { overflow: hidden; position: relative; }
.ui-timer .ui-timer-date, .ui-timer .ui-timer-hour, .ui-timer .ui-timer-minute { position: absolute; top: 0; z-index: 1; zoom: 1; }
.ui-timer .ui-timer-date ul, .ui-timer .ui-timer-hour ul, .ui-timer .ui-timer-minute ul { font-size: 0; list-style: none; padding: 0; margin: 0; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.ui-timer .ui-timer-date ul li, .ui-timer .ui-timer-hour ul li, .ui-timer .ui-timer-minute ul li { font-size: 14px; color: #333; height: 30px; line-height: 30px; padding: 0 20px; margin: 0; }
.ui-timer .ui-timer-date ul li.ui-state-active, .ui-timer .ui-timer-hour ul li.ui-state-active, .ui-timer .ui-timer-minute ul li.ui-state-active { font-weight: bold; }
.ui-timer .ui-timer-mask { position: absolute; z-index: 0; zoom: 1; margin: 0; padding: 0; height: 30px; line-height: 30px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
