
@import "../chameleon/oniui-theme";
$uiname: "oni-timer";
.oni-textbox {
    @include inline-block();
    outline: medium none;
    font-size: 0;
    padding: 3px 5px;
    line-height: 18px;
    @if($oinui-theme == smoothness) {
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
    }
    .oni-textbox-input-wrap {
        position: relative;
        @include inline-block();
        line-height: 18px;
        span {
            @include inline-block();
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
    }
}
.#{$uiname} {
    overflow: hidden;
    position: relative;
    .#{$uiname}-date, .#{$uiname}-hour, .#{$uiname}-minute {
        position: absolute;
        top: 0;
        z-index: 1;
        zoom: 1;
        ul {
            font-size: 0;
            list-style: none;
            padding: 0;
            margin: 0;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            li {
                font-size: 14px;
                color: #333;
                height: 30px;
                line-height: 30px;
                padding: 0 20px;
                margin: 0;
                &.oni-state-active {
                    font-weight: bold;
                }
            }
        }
    }
    .#{$uiname}-mask {
        position: absolute;
        z-index: 0;
        zoom: 1;
        margin: 0;
        padding: 0;
        height: 30px;
        line-height: 30px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}