@charset "UTF-8";
/*
chameleon
by 司徒正美 2014.6.28 拉萨开往西宁的火车上
这里放置所有组件都共用的类名，它们根据compass构建

oinui的CSS规范

不能出现大写,以连字符风格命名 
表示状态的应该用ui-state-*命名 
表示功能的应该用ui-helper-*命名
表示布局的应用用ui-uiname-* 命名, 它的子元素应该全部包在 .ui-uiname这个根类下
如 .ui-grid .ui-grid-tbody{ ... }
如果某一个区域的背景要换肤,能用ui-widget-header或ui-widget-content就尽用
其他细微之后的换肤,使用ui-state-*-?-color实现,或至少包在if(oniui-theme === xxx){}分支内


样式规则的出现顺序
1 display float position overflow表示布局的样式
2 width height line-height 表示尺寸的样式
3 margin border padding 表示盒子模型的样式
4 cursor font-size vertical-align text-align user-select outline....装饰用的样式
5 color background 表示换肤的样式(上面的bordrer-color outline-color也可以放到这里)


CSSShrink 是一个压缩 CSS 的在线工具。压缩比真高！

http://cssshrink.com/
*/
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }

.ui-helper-noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.ui-helper-noselect img, .ui-helper-noselect a { -webkit-user-drag: none; pointer-events: none; }

.ui-helper-clearfix { *zoom: 1; }
.ui-helper-clearfix:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

html .ui-helper-max-index, body .ui-helper-max-index { z-index: 1000; }

@font-face { font-family: fontawesome; font-style: normal; font-weight: normal; src: url("http://simg4.qunarzz.com/fonts/fontawesome/4.1.0/fontawesome-webfont.eot?v=4.1.0"); src: url("http://simg4.qunarzz.com/fonts/fontawesome/4.1.0/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("http://simg4.qunarzz.com/fonts/fontawesome/4.1.0/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("http://simg4.qunarzz.com/fonts/fontawesome/4.1.0/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("http://simg4.qunarzz.com/fonts/fontawesome/4.1.0/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg"); }
.ui-icon { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; cursor: default; font-family: fontawesome !important; font-size: 14px; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-style: normal; font-weight: normal; line-height: 18px; vertical-align: middle; }

a .ui-icon, .ui-btn .ui-icon { cursor: pointer; }

.g-icon-start { color: #58b359; }

.g-icon-pause { color: #333333; }
