
@import "../chameleon/oniui-theme";
$uiname : ".oni-menu";
@if($oinui-theme == smoothness) {
	$menu: (
		bg: #fff,
		borderColor:$ui-state-default-border-color,
		disabledColor:$ui-state-disabled-color
	) !global
}
ul#{$uiname},ol#{$uiname}{
	border: 1px solid $ui-state-default-border-color;
	background:map-get($menu, bg);
	overflow: visible;
	font-size:12px;
	padding: 0;
}
#{$uiname} {
	// current style
	// means #{$uiname}-bar
	width:156px;
	position:relative;
	z-index:5;
	zoom: 1;
	// fix ie 7 can not repaint correctly bug
	& ul.oni-helper-hidden{
		visibility: hidden;
	}
	& &-icon{
		position: absolute;
		right: 3px;
		left: auto;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 12px;
	}
	& &-item {
		position: relative;
		list-style: none;
		padding: 3px;
		cursor: pointer;
		color:$ui-state-default-color;
		font-size:12px;
		line-height: 18px;
		margin: 0;
		width: 150px;
		a, a:hover, a:link{
			text-decoration:none;
		}
	}
	& li.oni-state-hover{
		background: $ui-state-hover-background-color;
	}
	& li.oni-state-active{
		background: $ui-state-active-background-color;
		color: $ui-state-active-color;
	}
	& li#{$uiname}-with-sub{
	}
	& &-sub{
		margin: 0;
		padding:0;
		position: absolute;
		left: 100%;
		width: 100%;
		top:0;
	}
	&-vertical &-item-1 {
		border-right: 1px solid $ui-state-default-border-color;
		border-left: 1px solid $ui-state-default-border-color;
		margin-left: -1px;
	}
	&-vertical &-depth-2 {
		left: -1px;
		top:100%;
	}
	& .oni-state-disabled, & .oni-state-disabled a,& .oni-state-disabled a:link, & .oni-state-disabled a:hover{
		color: map-get($menu, disabledColor);
		cursor: default;
	}
	&-vertical{
		width: auto;
		& #{$uiname}-item{
			float: left;
			width: 150px;
			display: inline;
		}
	}
}
