@charset "UTF-8";
/*
这是每个都组件都应该引用的部分
*/
.ui-tree {
  margin: 0;
  padding: 5px;
  color: #333; }
  .ui-tree * {
    padding: 0;
    margin: 0;
    font-size: 12px; }
  .ui-tree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0; }
  .ui-tree li ul {
    margin: 0;
    padding: 0 0 0 18px; }
  .ui-tree li ul.line {
    background: url(./line_conn.gif) 0 0 repeat-y;
    zoom: 1; }
  .ui-tree li ul.noline_docu {
    background: none; }
  .ui-tree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block; }
  .ui-tree li a:hover {
    text-decoration: underline; }
  .ui-tree li a.curSelectedNode {
    padding-top: 0px;
    background-color: #FFE6B0;
    color: black;
    height: 16px;
    border: 1px #FFB951 solid;
    opacity: 0.8; }
  .ui-tree li a.curSelectedNode_Edit {
    padding-top: 0px;
    background-color: #FFE6B0;
    color: black;
    height: 16px;
    border: 1px #FFB951 solid;
    opacity: 0.8; }
  .ui-tree li a.tmpTargetNode_inner {
    padding-top: 0px;
    background-color: #316AC5;
    color: white;
    height: 16px;
    border: 1px #316AC5 solid;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .ui-tree li a input.rename {
    height: 14px;
    width: 80px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    border: 1px #7EC4CC solid;
    *border: 0px; }
  .ui-tree li span {
    line-height: 16px;
    margin-right: 2px; }
  .ui-tree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("./treeStandard.png");
    *background-image: url("./treeStandard.gif"); }
  .ui-tree li span.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto; }
  .ui-tree li span.checkbox_false_full {
    background-position: 0 0; }
  .ui-tree li span.checkbox_false_full_focus {
    background-position: 0 -14px; }
  .ui-tree li span.checkbox_false_part {
    background-position: 0 -28px; }
  .ui-tree li span.checkbox_false_part_focus {
    background-position: 0 -42px; }
  .ui-tree li span.checkbox_false_disable {
    background-position: 0 -56px; }
  .ui-tree li span.checkbox_true_full {
    background-position: -14px 0; }
  .ui-tree li span.checkbox_true_full_focus {
    background-position: -14px -14px; }
  .ui-tree li span.checkbox_true_part {
    background-position: -14px -28px; }
  .ui-tree li span.checkbox_true_part_focus {
    background-position: -14px -42px; }
  .ui-tree li span.checkbox_true_disable {
    background-position: -14px -56px; }
  .ui-tree li span.radio_false_full {
    background-position: -28px 0; }
  .ui-tree li span.radio_false_full_focus {
    background-position: -28px -14px; }
  .ui-tree li span.radio_false_part {
    background-position: -28px -28px; }
  .ui-tree li span.radio_false_part_focus {
    background-position: -28px -42px; }
  .ui-tree li span.radio_false_disable {
    background-position: -28px -56px; }
  .ui-tree li span.radio_true_full {
    background-position: -42px 0; }
  .ui-tree li span.radio_true_full_focus {
    background-position: -42px -14px; }
  .ui-tree li span.radio_true_part {
    background-position: -42px -28px; }
  .ui-tree li span.radio_true_part_focus {
    background-position: -42px -42px; }
  .ui-tree li span.radio_true_disable {
    background-position: -42px -56px; }
  .ui-tree li span.switch {
    width: 18px;
    height: 18px; }
  .ui-tree li span.center_close {
    background-position: -74px -18px; }
  .ui-tree li span.center_open {
    background-position: -92px -18px; }
  .ui-tree li span.root_close {
    background-position: -74px -54px; }
  .ui-tree li span.root_open {
    background-position: -92px -54px; }
  .ui-tree li span.roots_close {
    background-position: -74px 0; }
  .ui-tree li span.roots_open {
    background-position: -92px 0; }
  .ui-tree li span.bottom_close {
    background-position: -74px -36px; }
  .ui-tree li span.bottom_open {
    background-position: -92px -36px; }
  .ui-tree li span.noline_close {
    background-position: -74px -72px; }
  .ui-tree li span.noline_open {
    background-position: -92px -72px; }
  .ui-tree li span.center_docu {
    background-position: -56px -18px; }
  .ui-tree li span.root_docu {
    background: none; }
  .ui-tree li span.roots_docu {
    background-position: -56px 0; }
  .ui-tree li span.bottom_docu {
    background-position: -56px -36px; }
  .ui-tree li span.noline_docu {
    background: none; }
  .ui-tree li span.ico_close {
    margin-right: 2px;
    background-position: -110px 0;
    vertical-align: top;
    *vertical-align: middle; }
  .ui-tree li span.ico_open {
    margin-right: 2px;
    background-position: -110px -16px;
    vertical-align: top;
    *vertical-align: middle; }
  .ui-tree li span.ico_docu {
    margin-right: 2px;
    background-position: -110px -32px;
    vertical-align: top;
    *vertical-align: middle; }
  .ui-tree li span.edit {
    margin-right: 2px;
    background-position: -110px -48px;
    vertical-align: top;
    *vertical-align: middle; }
  .ui-tree li span.remove {
    margin-right: 2px;
    background-position: -110px -64px;
    vertical-align: top;
    *vertical-align: middle; }
  .ui-tree li span.ico_loading {
    margin-right: 2px;
    background: url(./loading.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle; }
  .ui-tree ul.tmpTargetTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .ui-tree span.tmpTreeMove_arrow {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -110px -80px;
    background-image: url("./TreeStandard.png");
    *background-image: url("./TreeStandard.gif"); }
  .ui-tree ul.tree.treeDragUL {
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #cfcfcf;
    border: 1px #00B83F dotted;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .ui-tree .TreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute; }
