@charset "utf-8";
@import "../chameleon/oniui-theme";
$uiname: "ui-checkboxlist";
$inputMarginRight: "5px";
.#{$uiname} {
    list-style: none;
    padding: 0;
    .#{$uiname}-item {
        &.fl {
            padding-right: 10px;
        }
        input {
            vertical-align: middle;
            margin-right: $inputMarginRight;
        }
    }
    .#{$uiname}-all {
        &.fl {
            padding-right: 20px;
        }
    }
}
