
@import "../chameleon/oniui-theme";
$uiname: "oni-checkboxlist";

.#{$uiname} {
    .#{$uiname}-horizontal{
        .#{$uiname}-item {
            @include inline-block;
            padding-right: 10px;
        }
        .#{$uiname}-all{
            padding-right: 20px;
        }   
    }
    .#{$uiname}-item {
        label{
            cursor:pointer;
        }
        .checkbox {
            @include reset-input;
        }
    }
}

