@import "../chameleon/oniui-theme";

.lightboxOverlay{
  background-color: #000;
  position: absolute;
  z-index: 12;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  zoom: 1;
  @include transition(opacity 1s);
}

.lightbox{
  position: absolute;
  z-index: 12;
  width: 100%;
}
.lb-dataContainer{
  margin: 0 auto;
  .lb-data{
    padding: 0 3px;
    color: #ccc;
    overflow: hidden;
    .lb-details{
      float: left;
      .lb-caption{
        font-size: 13px;
        font-weight: bold;
        line-height: 1em;
        padding: 1px;
      }
      .lb-number{
        display: block;
        clear: left;
        padding: 2px;
        font-size: 12px;
        color: #999999;
      }
    }
    .lb-closeContainer{
      float: right;
      cursor: pointer;
    }

  }
}
.lb-outerContainer{
  margin: 0 auto;
  background-color: #fff;
  @include border-radius(4px);
  @include transition(width 1s,height 1s);
  position: relative;
  .lb-container{
    padding: 4px;
    .lb-loader{
      z-index: 16;
      position: absolute;
      top: 43%;
      left: 0;
      height: 25%;
      width: 100%;
      text-align: center;
      line-height: 0;
      .lb-cancel{
        display: block;
        width: 32px;
        height: 32px;
        margin: 0 auto;
        background: url(../img/loading.gif) no-repeat;
      }
    }

    .lb-image{
      @include transition(opacity 2s);
      z-index: 14;
      display: block;
      @include border-radius(4px);
    }
    &.hover {
      .lb-nav{
        opacity: 1;
      }
    }
    .lb-nav{
      z-index: 15;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      overflow: hidden;
      .lb-prev{
        display: block;
        &:hover{
          cursor:pointer;
        }
        opacity: 0;
        width: 40%;
        float: left;
        height: 100%;
        overflow: hidden;
        background:url(../img/prev.png) left 48% no-repeat;
        &.hover-prev{
          opacity: 1;
        }
      }
      .lb-next{
        &:hover{
          cursor:pointer;
        }
        display: block;
        opacity: 0;
        width: 60%;
        float: right;
        height: 100%;
        overflow: hidden;
        background:url(../img/next.png) right 48% no-repeat;
        &.hover-next{
          opacity: 1;
        }
      }
    }
  }
}
